<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
    <ion-button (click)="closeBtn()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">

  <div class="ion-padding">
    <ion-thumbnail>
      <img src="{{image}}" (click)="goToSlide(slug)">
    </ion-thumbnail>
    <div class="content_div">
      <h4 [innerHTML]="episode_title"></h4>
      <div class="release_date">{{release_date | date: 'dd.MM.yyyy' }}</div>
      <div [innerHTML]="description"></div>
    </div>
  </div>
</ion-content>