<ion-content  [class]="'video-player' + controlActive" [fullscreen]="true" >
    <div #videoPlayer  class="video-wrapper">
      <div #vimeoEl id="vimeo-el" >
          <div class="custom-controls-end skip-control-button-wrapper"><a class="skip-intro-button" (click)="skipIntro()" *ngIf="hiddenSkipIntro" >Intro überspringen</a></div>
      </div>
      <ion-icon class="close-btn" name="close-circle-outline" (click)="videoEnd()"></ion-icon>
  </div>
</ion-content>