.video_tag{
    width: 100%;
    height: 100%;
}

.video-player{
    .close-btn{
        top: 16px;
        position: absolute;
        right: 10px;
        opacity: 0.5;
        transition: opacity 1s;
        width: 30px;
        height: 30px;
    }

    #shadow-root #background-content{
        background: transparent !important;
    }

    .video-wrapper[_ngcontent-ldy-c132] #vimeo-el[_ngcontent-ldy-c132]{
        padding:0 75px;
    }
    .skip-btn {
        position: absolute;
        bottom: 40px;
        left: 10px;
        background-color: red;
        color: white;
        z-index: 999;
        width: 60px;
    }
    .skip-backward{
        left: 25px;
        background: url('/../../assets/icon/skip-backward.png') no-repeat center center / contain;
    }
    .skip-forward{
        left: 70px;
        background: url('/../../assets/icon/skip-forward.png') no-repeat center center / contain;
    }
    .skip-backward, .skip-forward {
        width: 60px;
        height: 60px;
    }
    .custom-controls-end {
        position: absolute;
        z-index: 100;
        right: 10px;
        bottom: 17%;
       /* bottom: 60px;
        height: auto;*/

        .skip-intro-button {
            color: white;
            border: 2px solid;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #fff3;
            text-transform: uppercase;
        }
    }
  /* .active{
       opacity: 1;
   }*/
}

.video-player:active .close-btn,.video-player:focus .close-btn{
    opacity: 0.5 !important;
}
.video-wrapper{
    background: #000000;
    width: 100%;
    height: 100%;
    #vimeo-el {
        padding: 0;
        height: 100%;
        .custom-controls-end.skip-control-button-wrapper{
            height: auto;
            bottom: 17%;
        }
        div {
            height: 100%;
        }
        iframe{
            width: 100%;
            max-width: 100%;
        }
    }
}

#vimeo-el + div{
    height: 100%;
}

#vimeo-el div{
    max-height: 100vh;
}
#vimeo-el + iframe{
    width: 100%;
    max-width: 100%;
}

#vimeo-el,
.modal-default{
    background: #000000;
}


@media only screen and (device-width: 768px) {
    // For general iPad layouts
    .video-wrapper #vimeo-el {
        padding-top: 5%;
    }
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 47%;
    }
}
.ios {
    @media only screen and (min-width: 768px) and (min-height: 600px) {
        :host {
            --width: 100% !important;
            --height: 100% !important;
            min-width: 100%;
            min-height: 100%;
        }
    }
    @media only screen and (min-width: 768px) and (min-height: 768px) {
        :host {
            --width: 100% !important;
            --height: 100% !important;
            min-width: 100%;
            min-height: 100%;
        }
    }
}


.ios, .ios ion-modal, .md ion-modal, ion-modal.ios,  ion-modal.md,
.plt-ipad.ios ion-modal,
.plt-ipad .plt-ios .plt-tablet .plt-mobile .plt-mobileweb .ios,
.plt-ipad ion-modal.ios,
.plt-ios ion-modal.ios,
.plt-mobile ion-modal.ios,
.plt-tablet ion-modal.md{
    --width: 100% !important;
    --height: 100% !important;

    @media only screen and (min-width: 768px) and (min-height: 600px) {
        :host {
            --width: 100% !important;
            --height: 100% !important;
            min-width: 100%;
            min-height: 100%;
        }
    }
    @media only screen and (min-width: 768px) and (min-height: 768px) {
        :host {
            --width: 100% !important;
            --height: 100% !important;
            min-width: 100%;
            min-height: 100%;
        }
    }
}


@media only screen and (min-width: 768px) and (min-height: 768px){
    ion-modal{
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        --width: 100% !important;
        --height: 100% !important;
    }
}



// iphone 3
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone 4
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone 5
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone 6, 6s, 7, 8
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone 6+, 6s+, 7+, 8+
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone X , XS, 11 Pro, 12 Mini
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone 12, 12 Pro
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: auto;
        margin-top: 35%;
        right: 50px;
        bottom: 50px;
        position: absolute;
    }
}

// iphone XR, 11
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone XS Max, 11 Pro Max
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

// iphone 12 Pro Max
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (orientation:landscape) {
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 35%;
        right: 50px;
    }
}

//samsung phones
@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
    .video-player .custom-controls-end {
        margin-top: unset;
        bottom: 45px;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape){
    .video-player .custom-controls-end {
        margin-top: unset;
        bottom: 45px;
    }
}

// Portrait and landscape iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2){
    .video-wrapper #vimeo-el {
        padding-top: 0;
    }
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 84%;
    }
}

// Portrait iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
    .video-wrapper #vimeo-el {
        padding-top: 0;
    }
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 84%;
    }
}

// Landscape iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
    .video-wrapper #vimeo-el {
        padding-top: 0;
    }
    .video-player .custom-controls-end {
        height: 100%;
        margin-top: 84%;
    }
}