<ion-spinner *ngIf="!videos"></ion-spinner>

<ion-grid>
  <ion-row class="list_div">
    <ion-col size="12">
      <ion-list-header class="serie-header"  [innerHTML]="userNameInfo"></ion-list-header>
    </ion-col>


    <ion-col [size]="12" [class]="platformType">

      <div class="slider-continue-watching">
        <app-continue-watching></app-continue-watching>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="list_div" *ngFor="let video_set of videos; let j = index">


    <ion-col size="12" *ngIf="video_set.title" >
      <ion-list-header class="serie-sub-header" *ngIf="video_set.is_subcategory" [innerHTML]="video_set.title"></ion-list-header>
      <ion-list-header class="serie-header" *ngIf="!video_set.is_subcategory" [innerHTML]="video_set.title"></ion-list-header>
    </ion-col>


    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderSeason,slideWithNavSeason)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderSeason.isBeginningSlide"></div>
        </span>
    </ion-col>-->

    <ion-col size="12"  [class]="platformType">

      <ion-slides pager="false" [options]="slideOptsSeason" #slideWithNavSeason (ionSlideDidChange)="SlideDidChange(sliderSeason,slideWithNavSeason)">
        <ion-slide *ngFor="let slide of videos[j].items; let i = index">
          <div class="horizontal-image" *ngIf="!slide.is_vertical_images"><!-- checking global parameter (video_set)-->
            <div class="back_image bg_image" (click)="goToSlide(slide.slug)">
                <div class="img-container img-vertical">
                  <div *ngIf="slide.is_top_10==true" class="top_10">
                    <ion-label class="top_lbl">TOP</ion-label>
                    <ion-label class="ten_lbl">10</ion-label>
                  </div>
                  <img class="swiper-img" src="{{slide.thumbnail}}">
                  <div class="div-new-video" *ngIf="slide.is_neue_folgen==true">
                    <div class="new-video">{{newVideo}}</div>
                  </div>
                </div>
              <!--
              <ion-card-title>
                <p [innerHTML]="slide.title"></p>
              </ion-card-title>
              -->
            </div>
            <div class="info">
              <ion-icon class="icon-information" ios="information-circle-outline" md="information-circle" (click)="openInfoModal(slide)" start></ion-icon>
              <ion-icon class="icon-ellipsis" ios="ellipsis-vertical-sharp" md="ellipsis-vertical" (click)="openMore(slide)" end></ion-icon>
            </div>
          </div>
          <div class="vertical-image" *ngIf="slide.is_vertical_images"><!-- checking global parameter (video_set) -->
            <div class="img-container" (click)="goToSlide(slide.slug)">
              <div *ngIf="slide.is_top_10==true" class="top_10">
                <ion-label class="top_lbl">TOP</ion-label>
                <ion-label class="ten_lbl">10</ion-label>
              </div>
              <img  class="swiper-img"  src="{{ (slide.vertical_image==null ? slide.thumbnail : slide.vertical_image) }}">
              <div class="div-new-video" *ngIf="slide.is_neue_folgen==true">
                <div class="new-video">{{newVideo}}</div>
              </div>
            </div>
            <div class="info">
              <ion-icon class="icon-information" ios="information-circle-outline" md="information-circle" (click)="openInfoModal(slide)" start></ion-icon>
              <ion-icon class="icon-ellipsis" ios="ellipsis-vertical-sharp" md="ellipsis-vertical" (click)="openMore(slide)" end></ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>

    </ion-col>

    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderSeason,slideWithNavSeason)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderSeason.isEndSlide"></div>
        </span>
    </ion-col>-->
  </ion-row>
</ion-grid>