ion-spinner{
  left: 50vw;
  top: 40vh;
  z-index: 1000;
  margin-left: -14px;
}
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  // background: url(./img/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  // background: url(./img/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
    height: 100%;
  }
}

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}
.list_div {
  ion-list-header.serie-header {
    border-bottom: 1px solid white;
    padding: 0;
    font-weight: 700;
  }
  ion-list-header.serie-sub-header {
    padding: 0;
  }

  .horizontal-image .back_image {
    //background-color: white;
    border-radius: 4px;
  }
  .vertical-image {
    .img-container {
      max-height: 200px;
      height: 200px;
      position: relative;
      img{
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
  .horizontal-image, .vertical-image {
    img.swiper-img{
      border-radius: 4px;
    }
    .div-new-video {
      position: absolute;
      bottom: 8%;
      background-color: red;
      .new-video {
        font-size: 10px;
        color: white;
        height: 14px;
        margin: 0 2px;
      }
    }

    .back_image {
      background-size: cover;
      width: x;
      height: y;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      position: relative;

      ion-card-title {
        height: 40px;
        p {
          height: 30px;
          line-height: 15px;
          overflow: hidden;
          color: #555;
          font-size: 14px;
          float: left;
          width: 95%;
          margin: 2px 2px 4px 2px;
        }
      }
      .img-container {
        background-color: #575970;
        background-size: cover;
        width: x;
        height: y;
      }
      .video_div {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 2px solid white;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        ion-icon {
          font-size: 30px;
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }

      ion-progress-bar {
        position: absolute;
        bottom: 0;
      }
    }

    .info {
      background-color: #575970;
      border-radius: 0px 0 6px 6px;
      height: 21px;
      position: relative;
      ion-icon {
        width: 50% !important;
        padding-top: 0px;
        padding-bottom: 5px;
        margin-bottom: -4px;
        background-color: #575970;
      }

      ion-icon.icon-information {
        border-radius: 0 0 0 10px;
      }

      ion-icon.icon-ellipsis {
        border-radius: 0 0 10px 0;
      }
    }
  }
  .vertical-image .info {
    height: 24px;
    ion-icon {
      padding-top: 3px;
    }
  }
  .vertical-image .img-container .div-new-video {
    bottom: 9%;
  }
 // padding-left: 16px;
 // padding-right: 16px;
  ion-slide {
    display: flex;
    flex-direction: column;
    width: 42% !important;

    .text_img {
      width: 70%;
      margin-top: -25px;
      height: 30px;
    }

  }
  .head_lbl {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 16px;
  }

  .slide_back {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .slide_class {
    margin-right: 7px;
  }

  .slide_image {
    height: 140px;
    width: 100%;
    position: relative;
    .logo {
      width: 20px;
      position: absolute;
      left: 5px;
      top: 5px;
    }

    .video_div {
      height: 55px;
      width: 55px;
      border-radius: 5px;
      border: 2px solid white;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      ion-icon {
        font-size: 30px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }


  }

  .time_div {
    width: 100%;
    height: 30px;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;

    ion-label {
      font-size: 14px;
    }

    ion-icon {
      font-size: 20px;
    }
  }

  .slide_image2 {
    height: 240px;
    width: 100%;
    position: relative;
  }

  .img-container{
    .top_10 {
      height: 26px;
      width: 23px;
      background: var(--ion-color-primary);
      position: absolute;
      right: 0;
      top: 0;
      font-weight: bold;

      .top_lbl {
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 1px;
      }
      .ten_lbl {
        font-size: 13px;
        position: absolute;
        right: 1px;
        top: 10px;
      }
    }
  }
}

@media screen and (orientation:landscape) {
  .list_div {
    .back_image {
      vertical-align: middle;
      border-radius: 0px 0px 7px 7px;

      ion-card-title {
        width: 300px;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .horizontal-image {
      padding: 0 4px 0 4px;
    }
    .horizontal-image, .vertical-image {
      .horizontal-image .back_image {
        background-color: transparent;
      }
      .back_image {
       /* max-height: none;
        margin-left: 4px;
        margin-right: 2px;*/
        //background-color: white;
        /*width: 96%;*/

        .img-container {
          max-height: none;
        }
      }
    }

    .vertical-image {
      .back_image .img-container {
        max-height: 265px;
      }
      .img-container img {
        padding: 3px;
      }
    }

  }
}

// MEDIA QUERIES FOR IPAD MINI – PORTRAIT & LANDSCAPE
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  .list_div .horizontal-image .back_image, .list_div .horizontal-image .back_image .img-container {
    max-height: 100%;
    ion-card-title p {
      width: 296px;
    }
  }
  .list_div .vertical-image .img-container img {
    max-height: 220px;
  }
  .list_div .tablet ion-slide.swiper-slide {
    width: 29% !important;
  }
}
@media only screen
and (min-device-width: 744px)
and (max-device-width: 1133px){
  .list_div .vertical-image .img-container img {
    max-height: 220px;
  }
  .list_div .tablet ion-slide.swiper-slide {
    width: 27% !important;
  }
}
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 2160px)
and (-webkit-min-device-pixel-ratio: 1) {
 .list_div  .tablet ion-slide.swiper-slide {
    width: 29% !important;
  }
}
@media only screen
and (min-device-width : 2160px)
and (max-device-width : 3840px)
and (-webkit-min-device-pixel-ratio: 1) {
  .list_div ion-slide.swiper-slide, .ios .swiper-slide, .md .swiper-slide {
    width: 15% !important;
  }
}