.header_div {
  display: flex;
  align-items: center;
  padding-top: 20px;
  background-color: #3c4c56;
  img {
    width: 200px;
  }
}

.max_content_div {
  width: 100%;
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    color: #333333;
    font-size: 38px;
  }
  p a, li a {
    font-weight: 500;
    color: #CA1B20;
  }
  .footer_links {
    text-align: center;
    padding-bottom: 24px;
    a {
      color: white;
      margin: 15px;
    }
  }

  .red_line_separator {
    border: 1px solid #CA1B20;
    margin: 15px 0;
  }

}
