<ion-header>
    <div class="header_div">
        <ion-buttons slot="start">
            <ion-back-button mode="md" color="light"></ion-back-button>
        </ion-buttons>
        <img src="{{logoImage}}" alt="">
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="max_content_div">

        <h1>Impressum</h1>
        <div class="info">
            <p>Angaben gemäß § 5 TMG:</p>

            <p>GHOSTflix UG (haftungsbeschränkt)</p>
            <p>Marktgasse 4 <br>
                56626 Andernach
            <p>

            <p> Telefon: <a href="tel:0152/53632636">0152/53632636</a><br>
                E-Mail: <a href="mailto:support@GHOSTflix.tv">support@GHOSTflix.tv</a><br>
                Website: <a href="http://www.ghostflix.tv">www.ghostflix.tv</a><br>
            </p>

            <p>
                Registergericht: Amtsgericht Koblenz<br>
                Registernummer: HRB 27801
            </p>

            <p>Vertretungsberechtigter Geschäftsführer: Daniel Jansen, Michael Heinzelmann</p>
            <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 UStG: Beantragt</p>
            <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Daniel Jansen, Michael Heinzelmann</p>
            <p>Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
                externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
                verantwortlich.</p>

            <p>Die Europäische Kommission hat eine Europäische Plattform zur Online-Streitbeilegung („OS-Plattform“)
                bereitzustellen. Die OS-Plattform ist im Internet unter der Internet-Adresse
                <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a> abrufbar.</p>
        </div>

        <div class="red_line_separator"></div>
        <div class="footer_links">
            <p>
                <a (click)="impressum()">Impressum </a>
                <a (click)="datenschutzerklarung()">Datenschutzerklärung</a>
            </p>
        </div>
    </div>
</ion-content>
