<ion-tabs (ionTabsDidChange)="tabChange($event)">

  <ion-tab-bar slot="bottom">
    <!--<ion-tab-button tab="tab1">
      <img *ngIf="val != 'tab1'" src="assets/tabs/home.png" alt="">
      <img *ngIf="val == 'tab1'" src="assets/tabs/home_active.png" alt="">
      <ion-label [class.active]="val == 'tab1'" >Home</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="staffeln">
      <div class="tab-img">
      <img *ngIf="val != 'staffeln'" src="assets/tabs/home.png" alt="">
      <img *ngIf="val == 'staffeln'" src="assets/tabs/home_active.png" alt="">
      </div>
      <ion-label [class.active]="val == 'staffeln'">{{tabsName.videos}}</ion-label>

    </ion-tab-button>
<!--
    <ion-tab-button tab="specials">
      <img *ngIf="val != 'specials'" src="assets/tabs/specials.png" alt="">
      <img *ngIf="val == 'specials'" src="assets/tabs/specials_active.png" alt="">
      <ion-label [class.active]="val == 'specials'">Specials</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="neu">
      <div class="tab-img">
      <img *ngIf="val != 'neu'" src="assets/tabs/NEUERSCHEINUNGEN.png" alt="">
      <img *ngIf="val == 'neu'" src="assets/tabs/NEUERSCHEINUNGEN_active.png" alt="">
      </div>
      <ion-label [class.active]="val == 'neu'">{{tabsName.new}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <div class="tab-img">
      <img *ngIf="val != 'search'" src="assets/tabs/search.png" alt="">
      <img *ngIf="val == 'search'" src="assets/tabs/search_active.png" alt="">
      </div>
      <ion-label [class.active]="val == 'search'">{{tabsName.search}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-profile" *ngIf="user_id && user_id!=='null'">
      <div class="tab-img">
      <img *ngIf="val != 'my-profile'" src="assets/tabs/mehr.png" alt="">
      <img *ngIf="val == 'my-profile'" src="assets/tabs/mehr_active.png" alt="">
      </div>
      <ion-label [class.active]="val == 'my-profile'">{{tabsName.more}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="login" *ngIf="!user_id || user_id==='null'">
      <div class="tab-img">
        <img *ngIf="val != 'login'" src="assets/tabs/mehr.png" alt="">
        <img *ngIf="val == 'login'" src="assets/tabs/mehr_active.png" alt="">
      </div>
      <ion-label [class.active]="val == 'login'">{{tabsName.login}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
