img{
    width: 20px;
}

ion-label {
    font-size: .7rem;
}
.active{
    color: white;
}
ion-tab-bar{


    padding: 0 20px;
    background: #CA1B20;
    ion-tab-button{
        background: #CA1B20;
        color: #c1c1c1;
        .tab-img{
            height: 20px;
        }
    }

}

body {
    margin-top: env(safe-area-inset-top);
    margin-top: constant(safe-area-inset-top);
}

ion-tab-bar {
    margin-bottom: env(safe-area-inset-bottom);
}