<ion-content [class]="'video-player' + controlActive" [fullscreen]="true" >
 <div #videoPlayer  class="video-wrapper">

  <video id="video-jsplayer-id" class="video-js vjs-default-skin vjs-4-3 vjs-lime" playsinline lang="de" width="100%" height="100%" controls preload="auto" poster="{{poster_image}}" data-setup="{}">
   <source src="{{mp4}}" kind="captions" type='video/mp4' label='SD' res='720' />
   <track src="{{subtitle}}" kind="captions"  srclang="de" label="Deutsch" />

   <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">
     supports HTML5 video
    </a>
   </p>
  </video>

 <div class="custom-controls-end skip-control-button-wrapper {{hiddenSkipIntro}}">
  <a class="skip-intro-button" (click)="skipIntro()">Intro überspringen</a>
 </div>
  <ion-icon class="close-btn" name="close-circle-outline" (click)="videoEnd()"></ion-icon>
 </div>

</ion-content>
