ion-input{
  --background: #383838;
  --border-radius: 0px;
  --padding-start: 35px;
  height: 50px;
  --placeholder-color : white;

  ion-icon{
    color: white;
  }
}
.header_div{
  padding-top: 40px;
  .search{
    font-size: 20px;
    position: absolute;
    left: 8px;
  }
  .mic{
    font-size: 22px;
    position: absolute;
    right: 8px;
  }
}

.back_image{
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;

  .back{
    font-size: 28px;
    padding-top: 25px;
    padding-left: 16px;
  }
}
.main_content_div {

  .head_lbl {
    display: block;
    margin: 16px;
    font-weight: bold;
    font-size: 20px;
  }
  .flex_div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    background-color: #2c363c;
    ion-label{
      width: 90%;
      overflow: hidden;
    }
    .back_image {
      height: 60px;
      width: 100px;
      min-width: 100px;
      position: relative;

      .logo {
        width: 15px;
        position: absolute;
        left: 5px;
        top: 5px;
      }

      .top_10 {
        height: 26px;
        width: 23px;
        background: var(--ion-color-primary);
        position: absolute;
        right: 0;
        top: 0;
        font-weight: bold;

        .top_lbl {
          font-size: 10px;
          position: absolute;
          top: 0;
          right: 1px;
        }
        .ten_lbl {
          font-size: 13px;
          position: absolute;
          right: 1px;
          top: 10px;
        }
      }
    }
    .content_div {
      padding-left: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-right: 15px;
    }
    ion-label {
      font-size: 15px;
    }
    ion-icon {
      font-size: 22px;
    }
  }
}