<ion-content>

  <div class="back_image">
    <ion-icon class="back" name="arrow-back" (click)="goBack()"></ion-icon>
  </div>

  <ion-searchbar type="text" debounce="500" (ionChange)="getSearchData($event)" placeholder='{{title}}'  cancelButtonText="Custom Cancel"></ion-searchbar>

  <div class="main_content_div">
    <ion-label class="head_lbl" *ngIf="!topVal">{{continueWatching}}</ion-label>
    <div class="flex_div" *ngFor="let item of videos; let i = index" (click)="goToVideoDetail(item.slug)">
      <div class="back_image bg_image" [style.backgroundImage]="'url( '+ item.thumbnail +' )'">
        <div class="top_10" *ngIf="!topVal">
          <ion-label class="top_lbl">TOP</ion-label>
          <ion-label class="ten_lbl">10</ion-label>
        </div>
      </div>
      <div class="content_div">
        <ion-label [innerHTML]="item.title"></ion-label>
        <ion-icon name="caret-forward-circle-sharp"></ion-icon>
      </div>
    </div>
  </div>

  <ion-list *ngIf="isItemAvailable">
    <ion-item *ngFor="let item of videos">{{ item.title }}</ion-item>
  </ion-list>
</ion-content>
