<ion-header>
  <div class="header_div">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <img src="{{logoImage}}" alt="">
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="max_content_div">
    <div class="upper">
      <form #loginForm="ngForm">
        <ion-item lines="none">
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input
              type="email"
              name="email"
              ngModel
              required
              [(ngModel)]="email"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Passwort</ion-label>
          <ion-input
              type="password"
              name="password"
              ngModel
              required
              [(ngModel)]="password"
          ></ion-input>
        </ion-item>

        <ion-button [disabled]="!loginForm.valid"  (click)="login()" expand="block" fill="outline">
          Einloggen
        </ion-button>
      </form>
      <!--<ion-label class="help">Need Help?</ion-label>-->
      <p>
        By login into account you agree with our <a (click)="privacy()">Privacy Policy </a>
      </p>
    </div>

    <!--<div class="lower">
      <ion-label>New to GHOSTflix? <a href="https://ghostflix.tv/account-einrichten/">Sign up now.</a></ion-label>
    </div>-->
    <div class="red_line_separator"></div>
    <div class="footer_links">
      <p>
        <a (click)="impressum()">Impressum </a>
        <a (click)="datenschutzerklarung()">Datenschutzerklärung</a>
      </p>
    </div>
  </div>
</ion-content>
