.header_div{
    display: flex;
    align-items: center;
    padding-top: 20px;
    img{
        width: 200px;
    }
}

.max_content_div{
    width: 100%;
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-label {
        display: block;
    }

    .upper{
        height: 80vh;
        padding-top: 30px;
        text-align: center;
        .help{
            text-align: center;
            margin-top: 10px;
        }

        ion-item{
            --background : #383838;
            border-radius: 7px;
            margin-top: 15px;
    
            ion-input{
                --padding-start: 8px;
            }
        }

        ion-button{
            --border-radius: 5px;
            --border-width: 1.2px;
            --border-color: white;
            color: white;
            margin-top: 30px;
            font-weight: 600;
        }

        form{
            display: inline-block;
            width: 100%;
            max-width: 400px;
        }
    }
    .lower{
        height: 10vh;   
        
        ion-label {
            text-align: center;
            font-weight: 600;
        }
    }

    .footer_links{
        text-align: center;
        padding-bottom: 24px;
        a{
            color: white;
            margin: 15px;
        }
    }

    .red_line_separator{
        border: 1px solid #CA1B20;
        margin: 15px 0;
    }

    
}