<ion-grid>
  <ion-row>
    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderSlides,slideWithNavSlides)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderSlides.isBeginningSlide"></div>
        </span>
    </ion-col>-->
    <ion-col size="12">

      <ion-slides pager="false" [options]="slideOptsSlides" #slideWithNavSlides (ionSlideDidChange)="SlideDidChange(sliderSlides,slideWithNavSlides)">
        <ion-slide *ngFor="let slide of slides; let i = index">
          <div (click)="goToSlide(slide.slug)">
            <div class="slide-image">
              <img src="{{(slide.large_image) ? slide.large_image : slide.image}}">
            </div>
          </div>
        </ion-slide>
      </ion-slides>

    </ion-col>
    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderSlides,slideWithNavSlides)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderSlides.isEndSlide"></div>
        </span>
    </ion-col>-->
  </ion-row>
</ion-grid>