.header_div {
  display: flex;
  align-items: center;
  padding-top: 20px;
  background-color: #3c4c56;
  img {
    width: 200px;
  }
}

.max_content_div {
  width: 100%;
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}