<ion-header>
  <div class="header_div">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <img src="{{logoImage}}" alt="">
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="max_content_div">

    <h1>I. Allgemein</h1>
    <p>Wir nehmen den Schutz Ihrer personenbezogenen Daten sehr ernst und behandeln diese  vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
      Datenschutzerklärung. Diese Datenschutzerklärung gilt für unsere mobilen iPhone- und Android Apps
      (im Folgenden „APP“). In ihr werden Art, Zweck und Umfang der Datenerhebung im  Rahmen der APP-Nutzung
      erläutert. Wir weisen darauf hin, dass die Datenübertragung im  Internet Sicherheitslücken aufweisen kann.
      Ein lückenloser Schutz der Daten vor dem Zugriff  durch Dritte ist nicht möglich.</p>

    <h2>Verantwortliche Stelle</h2>
    <p>Verantwortliche Stelle für die Datenverarbeitung im Rahmen dieser APP ist:</p>
    <br>
    <p>GHOSTflix UG (haftungsbeschränkt)<br>
    Marktgasse 4<br>
    56626 Andernach<br>
    E-Mail: support@GHOSTflix.tv<br>
    Website: www.ghostflix.tv<br>
    Telefon: 030 520043614e
    </p>
    <br>
    <p>„Verantwortliche Stelle“ ist die Stelle, die personenbezogene Daten (z. B. Namen, E-Mail u
      Adressen etc.) erhebt, verarbeitet oder nutzt.
    </p>

    <h2>Datenschutzbeauftragter </h2>
    <p>Unseren Datenschutzbeauftragten erreichen Sie unter:<br>
    Michael Heinzelmann<br>
    Marktgasse 4<br>
    56626 Andernach<br>
    E-Mail: mh@GHOSTflix.tv<br>
    Telefon: 030 520043614e</p>


    <h2>Allgemeine Speicherdauer personenbezogener Daten</h2>
    <p>Vorbehaltlich abweichender oder konkretisierender Angaben innerhalb dieser  Datenschutzerklärung werden die von dieser APP erhobenen personenbezogenen
      Daten  gespeichert, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen  oder der Zweck für die Datenspeicherung entfällt.
      Sofern eine gesetzliche Pflicht zur  Aufbewahrung oder ein sonstiger gesetzlich anerkannter Grund zur Speicherung der Daten (z. B.  berechtigtes Interesse)
      besteht, werden die betreffenden personenbezogenen Daten nicht vor  Wegfall des jeweiligen Aufbewahrungsgrundes gelöscht.
    </p>

    <h2>Rechtsgrundlagen zur Speicherung personenbezogener Daten</h2>
    <p>Die Verarbeitung personenbezogener Daten ist nur zulässig, wenn eine wirksame  Rechtsgrundlage für die Verarbeitung dieser Daten besteht.
      Sofern wir Ihre Daten verarbeiten,  geschieht dies regelmäßig auf Grundlage Ihrer Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO (z. B. bei freiwilliger
      Angabe Ihrer Daten in der Anmeldemaske oder im Rahmen des Kontaktformulars),  zum Zwecke der Vertragserfüllung nach Art. 6 Abs. 1 lit. b DSGVO
      (z. B. bei Nutzung von In-APP Käufen oder der Nutzung sonstiger kostenpflichtiger APP-Funktionen) oder aufgrund berechtigter  Interessen nach Art. 6 Abs. 1
      lit. f DSGVO, die stets mit Ihren Interessen abgewogen werden  (z. B. im Rahmen von Werbemaßnahmen). Die jeweils einschlägigen Rechtsgrundlagen werden  ggf.
      an gesonderter Stelle im Rahmen dieser Datenschutzerklärung konkretisiert.
    </p>

    <h2>Verschlüsselung</h2>
    <p>Diese APP nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher  Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als
      APP-Betreiber senden, oder der  Kommunikation der APP-Nutzer untereinander, eine Verschlüsselung. Durch diese  Verschlüsselung wird verhindert,
      dass die Daten, die Sie übermitteln, von unbefugten Dritten  mitgelesen werden können.
    </p>

    <h2>Änderung dieser Datenschutzerklärung</h2>
    <p>Wir behalten uns das Recht vor, diese Datenschutzbestimmungen unter Einhaltung der gesetzlichen Vorgaben jederzeit zu ändern.
    </p>

    <br>
    <h1>II. Ihre Rechte</h1>
    <p>Die DSGVO gewährt Betroffenen, deren personenbezogene Daten von uns verarbeitet werden, bestimmte Rechte, über die wir Sie an dieser Stelle aufklären möchten:
    </p>

    <h2>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h2>
    <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer Einwilligung möglich. Diese werden wir vor  Beginn der Datenverarbeitung ausdrücklich
      bei Ihnen einholen. Sie können diese Einwilligung  jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit
      der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
    </p>

    <h2>WIDERSPRUCHSRECHT GEGEN DIE DATENERHEBUNG IN BESONDEREN FÄLLEN  SOWIE GEGEN DIREKTWERBUNG (ART. 21 DSGVO)</h2>
    <p>WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F  DSGVO ERFOLGT, HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS IHRER
      BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG SIE  BETREFFENDER PERSONENBEZOGENER DATEN WIDERSPRUCH EINZULEGEN; DIES  GILT AUCH FÜR EIN AUF DIESE
      BESTIMMUNGEN GESTÜTZTES PROFILING. DIE  JEWEILIGE RECHTSGRUNDLAGEN, AUF DENEN EINE VERARBEITUNG BERUHT,  ENTNEHMEN SIE DIESER DATENSCHUTZERKLÄRUNG.
      WENN SIE WIDERSPRUCH  EINLEGEN, WERDEN WIR DIE BETROFFENEN PERSONENBEZOGENEN DATEN NICHT  MEHR VERARBEITEN, ES SEI DENN, WIR KÖNNEN ZWINGENDE SCHUTZWÜRDIGE
      GRÜNDE FÜR DIE VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN, RECHTE UND  FREIHEITEN ÜBERWIEGEN ODER DIE DER VERARBEITUNG DER GELTENDMACHUNG,  AUSÜBUNG ODER
      VERTEIDIGUNG VON RECHTSANSPRÜCHEN DIENEN.</p>
    <p>WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU  BETREIBEN, SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE  VERARBEITUNG
      SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE  DERARTIGER WERBUNG EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT  ES MIT SOLCHER DIREKTWERBUNG
      IN VERBINDUNG STEHT. WENN SIE  WIDERSPRECHEN, WERDEN IHRE PERSONENBEZOGENEN DATEN ANSCHLIESSEND  NICHT MEHR ZUM ZWECKE DER DIREKTWERBUNG VERWENDET.</p>

    <h2>Beschwerderecht bei einer Aufsichtsbehörde</h2>
    <p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer  Aufsichtsbehörde zu. Das Beschwerderecht besteht unbeschadet
      anderweitiger  verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
    </p>

    <h2>Auskunft, Löschung und Berichtigung</h2>
    <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten  personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck
      der  Datenverarbeitung sowie ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie  zu weiteren Fragen zum Thema personenbezogene Daten
      können Sie sich jederzeit unter der im  Impressum angegebenen Adresse an uns wenden.
    </p>

    <h2>Recht auf Einschränkung der Verarbeitung</h2>
    <p>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu  pp
      verlangen. Hierzu können Sie sich jederzeit unter der im Impressum angegebenen Adresse an  A
      uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in folgenden Fällen:
    </p>

    <ul>
      <li><p>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das R SRecht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
        </p></li>
      <li><p>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah / geschieht, können Sie statt der Löschung die Einschränkung der Datenverarbeitung verlangen.
        </p></li>
      <li><p>Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,  Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen
        </p></li>
      <li><p>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung  zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht,  wessen Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer  personenbezogenen Daten zu verlangen.
        </p></li>
    </ul>

    <p>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese  Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung,  Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses  der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.</p>

    <h2>Recht auf Datenübertragbarkeit</h2>
    <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines  Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen,  maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten  an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
    </p>

    <h1>III. Zugriffsrechte der APP</h1>
    <p>Zur Bereitstellung unserer Dienste über die APP benötigen wir die im folgenden aufgezählten  Zugriffsrechte, die es uns ermöglichen, auf bestimmte Funktionen Ihres Geräts zuzugreifen.</p>

    <p>Netzwerkstatus<br>
    WLAN Status<br>
    Internet<br>
    Wake Lock</p>

    <p>Der Zugriff auf die Gerätefunktionen ist erforderlich, um die Funktionalitäten der APP zu  gewährleisten. Rechtsgrundlage für diese Datenverarbeitung ist unser berechtigtes Interesse im  Sinne von Art. 6 Abs. 1 lit. f DSGVO, Ihre Einwilligung im Sinne des Art. 6 Abs. 1 lit. a DSGVO  und/oder – sofern ein Vertrag geschlossen wurde – die Erfüllung unserer vertraglichen  Verpflichtungen (Art. 6 Abs. 1 lit. b DSGVO).
    </p>

    <h1>IV. Erfassung personenbezogener Daten im Rahmen der APP-Nutzung</h1>
    <h3>Allgemein</h3>
    <p>Es werden keine personenbezogenen Daten erfasst.
    </p>


    <h1>V. Datenanalyse</h1>
    <p>Wir verwenden keine Analyse-Werkzeuge.</p>
    <h3>Stand: Juli, 2022</h3>


    <br>
  </div>
</ion-content>

<!--
<ion-header>
  <div class="header_div">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <br class="max_content_div">

    <h1>I. Allgemein</h1>
    <p>Wir nehmen den Schutz Ihrer personenbezogenen Daten sehr ernst und behandeln diese  vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
      Datenschutzerklärung. Diese Datenschutzerklärung gilt für unsere mobilen iPhone- und Android Apps
      (im Folgenden „APP“). In ihr werden Art, Zweck und Umfang der Datenerhebung im  Rahmen der APP-Nutzung
      erläutert. Wir weisen darauf hin, dass die Datenübertragung im  Internet Sicherheitslücken aufweisen kann.
      Ein lückenloser Schutz der Daten vor dem Zugriff  durch Dritte ist nicht möglich.</p>

    <h2>Verantwortliche Stelle</h2>
    <p>Verantwortliche Stelle für die Datenverarbeitung im Rahmen dieser APP ist:</p>
    </br></br>
    GHOSTflix UG (haftungsbeschränkt)
    Marktgasse 4
    56626 Andernach
    r
    E-Mail: support@GHOSTflix.tv
    Website: www.ghostflix.tv
    Telefon: 030 520043614e
  </div>
</ion-content>
-->