.main_content_div {

  ion-grid {
    padding: 0;
  }
  .back_image {
    height: 140px;
    width: 100%;
  }

  .serie-header {
    padding-left: 3px;
    font-size: 22px;
    color: rgb(217, 217, 217);
    font-weight: 700;
    line-height: 42px;
  }
}
ion-col {
 // padding-bottom: 0;
 // padding-top: 0;
}
ion-spinner {
  left: 50vw;
  top: 40vh;
  z-index: 1000;
  margin-left: -14px;
}