<ion-spinner *ngIf="!videos"></ion-spinner>

<ion-grid class="main_content_div">
  <ion-row class="list_div" *ngFor="let video_set of videos; let j = index">
    <ion-col size="12" *ngIf="video_set.title">
      <ion-list-header class="serie-sub-header" *ngIf="video_set.is_subcategory" [innerHTML]="video_set.title"></ion-list-header>
      <ion-list-header class="serie-header" *ngIf="!video_set.is_subcategory" [innerHTML]="video_set.title"></ion-list-header>
    </ion-col>

    <ion-col size="12">
      <div class="main_content_div">
        <ion-grid fixed>
          <ion-row>
            <ion-col size-lg="3" size-md="3" size-sm="3" size="6" *ngFor="let video of video_set.items; let i = index">
              <div class="back_image bg_image" [style.backgroundImage]="'url( '+ video.thumbnail +' )'" (click)="goToSeason(video.slug)"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>