<ion-grid>
  <ion-row>
<!--
  <ion-col size="1">
      <span class="slider-nav arrow-prev" (click)="slidePrev(sliderContinueWatching,slideWithNavContinueWatching)">
        <div class="prev-icon-custom custon-nav" [class.disabled]="sliderContinueWatching.isBeginningSlide"></div>
      </span>
  </ion-col> -->
  <ion-col size="12"  [class]="platformType">

    <ion-slides pager="false" [options]="slideOptsContinueWatching" #slideWithNavContinueWatching (ionSlideDidChange)="SlideDidChange(sliderContinueWatching,slideWithNavContinueWatching)">
      <ion-slide *ngFor="let slide of slides">
        <div >
            <div class="back_image bg_image" (click)="onPlay(slide)">
                <div class="div-new-video" *ngIf="slide.is_neue_folgen==true">
                    <div class="new-video">{{newVideo}}</div>
                </div>
                <div class="img-container">
                    <img src="{{slide.episode_image}}">
                </div>
                <div class="video_div" >
                    <ion-icon name="caret-forward-outline"></ion-icon>
                </div>
                <ion-progress-bar value="{{((slide.progress==99)?100:slide.progress)/100}}"></ion-progress-bar>
            </div>
            <div class="info">
                <ion-icon class="icon-information" ios="information-circle-outline" md="information-circle" (click)="openInfoModal(slide)" start></ion-icon>
                <ion-icon class="icon-ellipsis" ios="ellipsis-vertical-sharp" md="ellipsis-vertical" (click)="openMore(slide)" end></ion-icon>
            </div>
          </div>
        </ion-slide>
      </ion-slides>

    </ion-col>
    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderContinueWatching,slideWithNavContinueWatching)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderContinueWatching.isEndSlide"></div>
        </span>
    </ion-col>
    -->
  </ion-row>
</ion-grid>
