ion-grid, ion-grid ion-slides, ion-grid ion-col {
 // padding-left: 2px;
 // padding-right: 2px;
  padding: 0;
  margin: 0;
}
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  // background: url(./img/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  // background: url(./img/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
    height: 100%;
  }
}
.swiper-slide {
  width: 42% !important;
  img {
    border-radius: 5px 5px 0 0;
  }
}
.ios.swiper-slide {
  img {
    width: 99%;
  }
}
.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}
.back_image{
  //max-height: 114px;
  background-size: cover;
  width: x;
  height: y;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;

  .div-new-video {
    position: absolute;
    bottom: 4%;
    background-color: red;
    .new-video {
      font-size: 10px;
      color: white;
      height: 14px;
      margin: 2px;
    }
  }
  .img-container{
    background-size: cover;
    width: x;
    height: y;
  }
  .video_div{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 2px solid white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    ion-icon{
      font-size: 30px;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
    }
  }

  ion-progress-bar{
    position: absolute;
    bottom: 0;
  }
}
.info {
  background-color: #575970;
  border-radius: 0px 0 6px 6px;
  height: 24px;
  position: relative;
  ion-icon {
    width: 50% !important;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: -4px;
    background-color: #575970;
  }

  ion-icon.icon-information{
    border-radius: 0 0 0 10px;
  }

  ion-icon.icon-ellipsis{
    border-radius: 0 0 10px 0;
  }
}

.customPopupClass{
  .popup{
    //style for popup
  }
  .popup-title{
    //style for title
  }
}

.small-modal {
  .modal-wrapper {
    position: absolute;
    bottom: 0;
    min-height: initial;
    top: initial;
    height: 40%;
  }
}

@media screen and (orientation:landscape) {
  .back_image {
    max-height: 220px;
  }
}

// MEDIA QUERIES FOR IPAD MINI – PORTRAIT & LANDSCAPE
@media only screen
and (min-device-width: 744px)
and (max-device-width: 1133px) {
  .tablet ion-slide.swiper-slide {
    width: 27% !important;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  .back_image {
    max-height: 100%;
  }
  .tablet  .swiper-slide {
    box-shadow: none;
    width: 29% !important;
  }
}
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 2160px)
and (-webkit-min-device-pixel-ratio: 1) {
  .tablet ion-slide.swiper-slide {
    width: 29% !important;
  }
}
@media only screen
and (min-device-width : 2160px)
and (max-device-width : 3840px)
and (-webkit-min-device-pixel-ratio: 1) {
  ion-slide.swiper-slide {
    width: 15% !important;
  }
}