<ion-header>
    <div class="header_div">
        <ion-buttons slot="start">
            <ion-back-button mode="md" color="light"></ion-back-button>
        </ion-buttons>
        <img src="{{logoImage}}" alt="">
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="max_content_div">

        <h1>Datenschutzerklarung</h1>

        <div class="info">
            <h3>1. Allgemeine Hinweise und Grundsätze der Datenverarbeitung</h3>
            <p>Wir freuen uns, dass Sie unsere Webseite besuchen. Der Schutz Ihrer Privatsphäre und der Schutz Ihrer
                persönlichen Daten, der sog. personenbezogenen Daten, bei der Nutzung unserer Webseite ist uns ein
                wichtiges Anliegen.
            </p>

            <p>Personenbezogene Daten sind nach Art. 4 Nr. 1 DS-GVO alle Informationen, die sich auf eine identifizierte
                oder identifizierbare natürliche Person beziehen. Hierzu gehören beispielsweise Informationen wie ihr
                Vor- und Nachname, ihre Anschrift, ihre Telefonnummer, Ihre E-Mail-Adresse, aber auch ihre IP-Adresse.
            </p>
            <p>Daten bei denen kein Bezug zu Ihrer Person herstellbar ist wie beispielsweise durch eine Anonymisierung,
                sind keine personenbezogenen Daten.<br>
                Die Verarbeitung (z.B. das Erheben, die Speicherung, das Auslesen, das Abfragen, die Verwendung, die
                Übermittlung, das Löschen oder die Vernichtung) nach Art. 4 Nr. 2 DS-GVO bedarf immer einer gesetzlichen
                Rechtsgrundlage oder Ihrer Einwilligung. Verarbeitete personenbezogene Daten müssen gelöscht werden,
                sobald der Zweck der Verarbeitung erreicht wurde und keine gesetzlich vorgeschriebenen
                Aufbewahrungspflichten mehr zu wahren sind.
            </p>

            <p>Hier finden Sie Informationen über den Umgang mit Ihren personenbezogenen Daten beim Besuch unserer
                Webseite. Zur Bereitstellung der Funktionen und Dienste unserer Webseite ist es erforderlich, dass wir
                personenbezogene Daten über Sie erheben.
            </p>

            <p>Wir erklären ihnen zudem, die Art und Umfang der jeweiligen Datenverarbeitung, den Zweck und die
                entsprechende Rechtsgrundlage und die jeweilige Speicherdauer.
            </p>
            <p>Diese Datenschutzerklärung gilt nur für diese Webseite. Sie gilt nicht für andere Webseiten, auf die wir
                durch einen Hyperlink lediglich verweisen. Wir können keine Verantwortung für den vertraulichen Umgang
                Ihrer personenbezogenen Daten auf diesen Webseiten Dritter übernehmen, da wir keinen Einfluss darauf
                haben, ob diese Unternehmen die Datenschutzbestimmungen einhalten. Über den Umgang mit Ihren
                personenbezogenen Daten durch diese Unternehmen informieren Sie sich bitte direkt auf diesen Webseiten.
            </p>


            <h3>2. Verantwortliche Stelle</h3>
            <p>Verantwortlich für die Verarbeitung von personenbezogenen Daten auf dieser Webseite ist (vgl.
                Impressum):</p>

            <h3>3. Bereitstellung und Nutzung der Webseite/ Server Logfiles</h3>
            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Wenn Sie diese Webseite nutzen, ohne anderweitig (z.B. durch Registrierung oder Nutzung des
                Kontaktformulars) Daten an uns zu übermitteln, erheben wir über Server Logfiles technisch notwendige
                Daten, die automatisch an unseren Server übermittelt werden, u.a.:
            </p>

            <ul>
                <li>IP-Adresse</li>
                <li>Datum und Uhrzeit der Anfrage</li>
                <li>Name und URL der abgerufenen Datei</li>
                <li>Website, von der aus der Zugriff erfolgt (Referrer-URL)</li>
                <li>Zugriffsstatus/HTTP-Statuscode</li>
                <li>Browsertyp</li>
                <li>Sprache und Version der Browsersoftware</li>
                <li>Betriebssystem</li>
            </ul>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Diese Verarbeitung ist technisch erforderlich, um Ihnen unsere Webseite anzeigen zu können. Wir nutzen
                die Daten auch, um die Sicherheit und Stabilität unserer Webseite zu gewährleisten.
            </p>
            <p>Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. f) DS-GVO. Die Verarbeitung der genannten
                Daten ist für die Bereitstellung einer Webseite erforderlich und dient damit der Wahrung eines
                berechtigten Interesses unseres Unternehmens.
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Sobald die genannten personenbezogenen Daten zur Anzeige der Webseite nicht mehr erforderlich sind,
                werden diese gelöscht. Die Erfassung der Daten zur Bereitstellung der Webseite und die Speicherung der
                Daten in Logfiles ist für den Betrieb der Webseite zwingend erforderlich. Es besteht folglich bezüglich
                dieses Aspektes seitens des Nutzers keine Widerspruchsmöglichkeit. Eine weitergehende Speicherung kann
                im Einzelfall dann erfolgen, wenn dies gesetzlich vorgeschrieben ist.
            </p>


            <h3>4. Einsatz von Cookies</h3>

            <p><i>a) Art, Umfang und Zweck der Datenverarbeitung</i></p>
            <p>Wir verwenden Cookies. Cookies sind kleine Dateien, die im Rahmen Ihres Besuchs unserer Webseite von uns
                an den Browser Ihres Endgeräts gesendet und dort gespeichert werden.
            </p>
            <p>Einige Funktionen unserer Webseite können ohne den Einsatz technisch notwendiger Cookies nicht angeboten
                werden. Andere Cookies ermöglichen uns dagegen verschiedene Analysen. So können einige Cookies den von
                Ihnen verwendeten Browser bei einem erneuten Besuch unserer Webseite wiedererkennen und verschiedene
                Informationen an uns übermitteln. Wir verwenden Cookies um die Benutzung unserer Webseite zu erleichtern
                und zu verbessern. So können wir durch Cookies unter anderem unser Internetangebot für Sie
                nutzerfreundlicher und effektiver gestalten, indem wir beispielsweise Ihre Nutzung unserer Webseite
                nachvollziehen und Ihre bevorzugten Einstellungen (bspw. Länder- und Spracheneinstellungen) feststellen.
                Sofern Dritte über Cookies Informationen verarbeiten, erheben diese die Informationen direkt über Ihren
                Browser. Cookies richten auf Ihrem Endgerät aber keinen Schaden an. Sie können keine Programme ausführen
                und keine Viren enthalten. Auf unserer Webseite werden verschiedene Arten von Cookies verwendet, deren
                Art und Funktion im Folgenden erläutert wird.
            </p>
            <p><i>Temporäre Cookies/ Session-Cookies</i></p>
            <p>Auf unserer Webseite werden sog. temporäre Cookies bzw. Session-Cookies verwendet, die automatisch
                gelöscht werden, sobald Sie Ihren Browser schließen. Durch diese Art von Cookies ist es möglich, Ihre
                Session-ID zu erfassen. Dadurch lassen sich verschiedene Anfragen Ihres Browsers einer gemeinsamen
                Sitzung zuordnen und es ist möglich, Ihr Endgerät bei späteren Webseitenbesuchen wiederzuerkennen.
            </p>
            <p><i>Permanente Cookies</i></p>
            <p>Auf unserer Webseite werden sog. permanente Cookies eingesetzt. Permanente Cookies sind Cookies, die über
                einen längeren Zeitraum in Ihrem Browser gespeichert werden und Informationen übermitteln können. Die
                jeweilige Speicherdauer unterscheidet sich je nach Cookie. Sie können permanente Cookies eigenständig
                über Ihre Browsereinstellungen löschen.
            </p>
            <p><i>Drittanbieter-Cookies</i></p>
            <p>Wir verwenden analytische Cookies zur Beobachtung des anonymisierten Nutzerverhaltens auf unserer
                Webseite.
            </p>
            <p>Zudem verwenden wir Werbungs-Cookies. Mit diesen Cookies kann das Nutzerverhalten für Werbe- und gezielte
                Marketingzwecke verfolgt werden.
            </p>
            <p>Social-Media-Cookies ermöglichen es, eine Verbindung zu Ihren sozialen Netzwerken aufzubauen und Inhalte
                unserer Webseite innerhalb Ihrer Netzwerke zu teilen.</p>
            <p><i>Konfiguration der Browsereinstellungen</i></p>
            <p>Die meisten Webbrowser sind so voreingestellt, dass Cookies automatisch akzeptiert werden. Sie können
                Ihren jeweiligen Browser jedoch so konfigurieren, dass er nur noch bestimmte oder auch gar keine Cookies
                mehr akzeptiert. Wir weisen Sie jedoch darauf hin, dass Sie dann möglicherweise nicht mehr alle
                Funktionen unserer Webseite nutzen können.
            </p>
            <p>Über Ihre Browsereinstellungen können Sie zudem auch bereits in Ihrem Browser gespeicherte Cookies
                löschen. Des Weiteren ist es möglich, Ihren Browser so einzustellen, dass er Sie benachrichtigt, bevor
                Cookies gespeichert werden. Da sich die verschiedenen Browser in ihren jeweiligen Funktionsweisen
                unterscheiden können, bitten wir Sie, dass jeweilige Hilfemenü Ihres Browsers für die entsprechenden
                Konfigurationsmöglichkeiten in Anspruch zu nehmen.
            </p>
            <p>Die Deaktivierung der Verwendung von Cookies erfordert möglicherweise die Speicherung eines permanenten
                Cookies auf Ihrem Computer. Wenn Sie diesen Cookie anschließend löschen, müssen Sie ihn erneut
                deaktivieren.
            </p>
            <p><i>b) Rechtsgrundlage</i></p>
            <p>Aufgrund der beschriebenen Verwendungszwecke ist die Rechtsgrundlage für die Verarbeitung
                personenbezogener Daten unter Verwendung von Cookies Art. 6 Abs. 1 lit. f) DS-GVO. Falls Sie uns auf
                Grundlage eines von uns auf der Webseite erteilten Hinweises („Cookie-Banner“) ihre Einwilligung zur
                Verwendung von Cookies erteilt haben, ist die Rechtsgrundlage zusätzlich Art. 6 Abs. 1 lit. a) DS-GVO.
            </p>
            <p><i>c) Speicherdauer</i></p>
            <p>Sobald die über die Cookies an uns übermittelten Daten für die oben beschriebene Zwecke nicht mehr
                erforderlich sind, werden diese Informationen gelöscht. Eine weitergehende Speicherung kann im
                Einzelfall dann erfolgen, wenn dies gesetzlich vorgeschrieben ist.
            </p>


            <h3>5. Datenerhebung zur Durchführung vorvertraglicher Maßnahmen und zur Vertragserfüllung</h3>

            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Im vorvertraglichen Bereich und bei Vertragsschluss erheben wir personenbezogene Daten über Sie. Dies
                betrifft beispielsweise Vor- und Nachname, Anschrift, E-Mail-Adresse, Telefonnummer oder die
                Bankverbindung.
            </p>
            <p><i>b) Zweck und Rechtsgrundlage der Datenverarbeitung</i></p>
            <p>Diese Daten erheben und verarbeiten wir ausschließlich zum Zweck der Vertragsdurchführung bzw. zur
                Erfüllung vorvertraglichen Pflichten.
            </p>
            <p>Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit b) DS-GVO. Besteht darüber hinaus eine Einwilligung von
                Ihnen, ist zusätzliche Rechtsgrundlage Art. 6 Abs. 1 lit. a) DS-GVO.
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Die Daten werden gelöscht, sobald sie für den Zweck ihrer Verarbeitung nicht mehr erforderlich sind.</p>
            <p>Es können darüber hinaus gesetzliche Aufbewahrungspflichten bestehen, beispielsweise handels- oder
                steuerrechtliche Aufbewahrungspflichten nach dem Handelsgesetzbuch (HGB) oder der Abgabenordnung (AO).
                Sofern solche Pflichten zur Aufbewahrung bestehen, sperren oder löschen wir Ihre Daten mit Ende dieser
                Aufbewahrungspflichten.
            </p>


            <h3>6. Bestellformular</h3>

            <p>Auf unserer Webseite ist ein Bestellformular vorhanden, welches für elektronische Vorbestellungen genutzt
                werden kann.
            </p>
            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Unsere Datenerhebung beschränkt sich dabei auf folgende Daten:</p>

            <ul>
                <li>Vor- und Nachname</li>
                <li>Telefonnummer</li>
                <li>E-Mail Adresse</li>
                <li>Kontodaten</li>
                <li>Name des Produkts</li>
            </ul>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Zweck der Datenverarbeitung ist die Möglichkeit ihre Bestellung sachgerecht bearbeiten zu können.</p>
            <p>Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. b) DS-GVO. Die Verarbeitung der Daten dient der
                Erfüllung eines Vertrages, oder ist für die Durchführung einer vorvertraglichen Maßnahme erforderlich,
                die auf Anfrage der betroffenen Person erfolgt ist.
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes der Verarbeitung nicht mehr benötigt
                werden.</p>
            <p>Es können darüber hinaus gesetzliche Aufbewahrungspflichten bestehen, beispielsweise handels- oder
                steuerrechtliche Aufbewahrungspflichten nach dem Handelsgesetzbuch (HGB) oder der Abgabenordnung (AO).
                Sofern solche Pflichten zur Aufbewahrung bestehen, sperren oder löschen wir Ihre Daten mit Ende dieser
                Aufbewahrungspflichten.
            </p>


            <h3>7. Registrierungsmöglichkeit</h3>

            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Auf unserer Webseite können Sie sich registrieren. Wenn Sie sich registrieren, erheben und speichern wir
                die Daten, die Sie in die Eingabemaske eingeben (z.B. Nachname, Vorname, E-Mail-Adresse). Eine
                Weitergabe an Dritte findet nicht statt.
            </p>

            <p><i>b) Zweck und Rechtsgrundlage der Datenverarbeitung</i></p>
            <p>Ihre Registrierung ist für die Nutzung bestimmter Inhalte und Leistungen auf unserer Webseite bzw. für
                die Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen erforderlich. Nach der
                Registrierung steht es Ihnen frei, die bei der Registrierung angegebenen personenbezogenen Daten
                jederzeit abzuändern oder vollständig aus dem Datenbestand des für die Verarbeitung Verantwortlichen
                löschen zu lassen.
            </p>
            <p>Rechtsgrundlage für die Verarbeitung ist im Falle einer Einwilligung Art. 6 Abs. 1 lit. a)<br>
                DS-GVO. Dient Ihre Registrierung der Vorbereitung eines Vertragsabschlusses ist Art. 6 Abs. 1 lit. b)
                DS-GVO zusätzliche Rechtsgrundlage.</p>

            <p><i>c) Speicherdauer</i></p>
            <p>Die bei der Registrierung erfassten Daten werden von uns gespeichert, solange Sie auf unserer Website
                registriert sind und werden anschließend gelöscht. Gesetzliche Aufbewahrungsfristen bleiben unberührt.
                Zudem werden ihre registrierten personenbezogenen Daten gelöscht, wenn Sie
            </p>


            <h3>8. Datenübermittlung</h3>

            <p>Wir geben Ihre personenbezogenen Daten nur an Dritte weiter, wenn:</p>
            <p>a) Sie hierzu ihre ausdrückliche Einwilligung nach Art. 6 Abs. 1 lit. a) DS-GVO erteilt haben.</p>
            <p>b) dies gesetzlich zulässig und nach Art. 6 Abs. 1 lit. b) DS-GVO zur Erfüllung eines
                Vertragsverhältnisses mit Ihnen oder der Durchführung vorvertraglicher Maßnahmen erforderlich ist.
            </p>
            <p>c) nach Art. 6 Abs. 1 lit. c) DS-GVO für die Weitergabe eine rechtliche Verpflichtung besteht.</p>

            <p>Gesetzlich verpflichtet sind wir zur Übermittlung von Daten an staatliche Behörden, z.B. Steuerbehörden,
                Sozialversicherungsträgern, Krankenkassen, Aufsichtsbehörden und Strafverfolgungsbehörden.
            </p>
            <p>d) die Weitergabe nach Art. 6 Abs. 1 lit. f) DS-GVO zur Wahrung berechtigter Unternehmensinteressen,
                sowie zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und kein
                Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe
                Ihrer Daten haben.
            </p>
            <p>e) wir nach Art. 28 DS-GVO bei der Verarbeitung uns externer Dienstleister sog. Auftragsverarbeiter
                bedienen, welche zum sorgfältigen Umgang mit ihren Daten verpflichtet wurden.
            </p>
            <p>Wir setzen solche Dienstleister ein in den Bereichen:</p>

            <ul>
                <li>IT</li>
                <li>Logistik</li>
                <li>Telekommunikation</li>
            </ul>

            <p>Bei der Übermittlung an externe Stellen in Drittländern, d.h. außerhalb der EU bzw. des EWR, stellen wir
                sicher, dass diese Stellen Ihre personenbezogenen Daten mit der gleichen Sorgfalt behandeln wie
                innerhalb der EU bzw. des EWR. Wir übermitteln personenbezogene Daten nur in Drittländer, bei denen die
                EU-Kommission ein angemessenes Schutzniveau bestätigt hat oder wenn wir den sorgfältigen Umgang mit den
                personenbezogenen Daten durch vertragliche Vereinbarungen oder andere geeignete Garantien sicherstellen.
            </p>

            <h3>9. Bewerbungsmöglichkeit</h3>

            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Sie können sich auf unserer Webseite bzw. per E-Mail bewerben. Wenn Sie sich bewerben, erheben und
                speichern wir die Daten, die Sie in die Eingabemaske eingeben bzw. die Sie uns per E-Mail zusenden.
            </p>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Wir verarbeiten Ihre Daten nur zum Zwecke der Bearbeitung Ihrer Bewerbung.<br>
                Eine Weitergabe an Dritte findet nicht statt. Rechtsgrundlage für die Verarbeitung ist Art. 88 Abs. 1
                DS-GVO i.V.m. § 26 BDSG und zusätzlich Art. 6 Abs. 1 lit. b) DS-GVO.
            </p>
            <p>Soweit Sie uns eine Einwilligung zur Aufnahme in unseren Bewerberpool erteilen, ist die Rechtsgrundlage
                Art. 6 Abs. 1 lit. a) DS-GVO.
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Falls wir Ihnen keine Stelle anbieten können, speichern wir Ihre Daten höchstens bis sechs Monate nach
                Beendigung des Bewerbungsprozesses unter Berücksichtigung von § 61b Abs. 1 ArbGG i.V.m. § 15 AGG. Der
                Fristbeginn ist der Zugang des Ablehnungsschreibens.
            </p>
            <p>Wenn Sie uns eine Einwilligung zur Aufnahme in unseren Bewerberpool erteilt haben, speichern wir ihre
                Daten maximal zwei Jahre lang.
            </p>

            <p><i>d) Datenweitergabe</i></p>
            <p>Ihre Daten erhalten nur die Stellen, die in die Entscheidung eingebunden sind (zuständige Personal- bzw.
                Fachabteilungen, Geschäftsführung, Betriebsrat).
            </p>
            <p>Zudem sind wir verpflichtet, öffentlichen Stellen und Institutionen (z. B. Staatsanwaltschaft, Polizei,
                Aufsichtsbehörden, Finanzamt, Sozialversicherungsträger etc.) ihre Daten zu übermitteln.
            </p>
            <p>Weitere Datenempfänger können diejenigen Stellen sein, für die Sie uns Ihre Einwilligung zur
                Datenübermittlung erteilt haben.
            </p>


            <h3>10. Kommentarfunktion</h3>

            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Auf unserer Webseite können Sie Beiträge kommentieren. Wenn Sie einen Beitrag kommentieren, erheben und
                speichern wir die Daten, die Sie in die Eingabemaske eingeben. Neben den von Ihnen hinterlassenen
                Kommentaren werden auch Angaben zum Zeitpunkt der Kommentareingabe sowie eventuell der von der von Ihnen
                gewählten Nutzernamen (Pseudonym) gespeichert und veröffentlicht. Ferner wird die vom
                Internet-Service-Provider (ISP) der betroffenen Person vergebene IP-Adresse gespeichert. Eine Weitergabe
                an Dritte findet nicht statt.
            </p>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Die von Ihnen übermittelten Daten (z.B. der IP-Adresse) erfolgt aus Sicherheitsgründen und für den Fall,
                dass die betroffene Person durch einen abgegebenen Kommentar die Rechte Dritter verletzt oder
                rechtswidrige Inhalte postet.
            </p>
            <p>Es erfolgt keine Weitergabe dieser erhobenen personenbezogenen Daten an Dritte, sofern eine solche
                Weitergabe nicht gesetzlich vorgeschrieben ist oder der Rechtsverteidigung des für die Verarbeitung
                Verantwortlichen dient.
            </p>
            <p>Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten, die bei Nutzung der Kommentarfunktion
                übermittelt werden, ist wenn und soweit Ihre Einwilligung vorliegt Art. 6 Abs. 1 lit. a) DS-GVO. Diese
                Einwilligung können Sie jederzeit widerrufen. Die Rechtmäßigkeit der bereits erfolgten
                Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
            </p>
            <p>Weitere Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DS-GVO.</p>
            <p>Wir haben ein berechtigtes Interesse an der Verarbeitung, falls Rechte Dritter verletzt oder
                rechtswidrige Inhalte gepostet werden. Dies dient der Sicherheit, falls jemand in Kommentaren und
                Beiträgen widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische Propaganda usw.)
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Die Kommentare und die damit verbundenen Daten (z.B. IP-Adresse) werden gespeichert und verbleiben auf
                unserer Website, bis der kommentierte Inhalt vollständig gelöscht wurde bzw. die Kommentare aus
                rechtlichen Gründen gelöscht werden müssen.
            </p>


            <h3>11. Kontaktformular</h3>

            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Auf unserer Webseite bieten wir Ihnen die Möglichkeit an, über ein bereitgestelltes Formular mit uns in
                Kontakt zu treten. Im Rahmen des Absendevorgangs Ihrer Anfrage über das Kontaktformular wird zur
                Einholung Ihrer Einwilligung auf diese Datenschutzerklärung verwiesen.
            </p>
            <p>Wenn Sie von dem Kontaktformular Gebrauch machen, werden darüber die folgenden personenbezogenen Daten
                von Ihnen verarbeitet:</p>
            <p> – Anrede</p>
            <p> – Vorname</p>
            <p> – Nachname</p>
            <p> – Titel</p>
            <p> – Firma</p>
            <p> – Branche</p>
            <p> – Funktion</p>
            <p> – Straße</p>
            <p> – Straßennummer</p>
            <p> – Postleitzahl</p>
            <p> – Ort</p>
            <p> – Land</p>
            <p> – E-Mail-Adresse</p>
            <p> – Telefonnummer</p>
            <p> – Betreff</p>
            <p> – Inhalt der Nachricht</p>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Die Angabe Ihrer E-Mail-Adresse dient dabei dem Zweck, ihnen auf ihre Anfrage hin per E-Mail eine Antwort
                zukommen zu lassen Bei der Nutzung des Kontaktformulars erfolgt keine Weitergabe Ihrer personenbezogenen
                Daten an Dritte.
            </p>
            <p>Rechtsgrundlage für die Verarbeitung ist eine Einwilligung nach Art. 6 Abs. 1 lit. a) DS-GVO auf der von
                Ihnen im Folgenden freiwillig abgegebenen und jederzeit für die Zukunft widerrufbaren
                Einwilligungserklärung:
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung
                auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung
                entfällt (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage).
            </p>
            <p>Hiervon bleiben zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen nach der nach dem
                Handelsgesetzbuch (HGB) oder der Abgabenordnung (AO) – unberührt.
            </p>


            <h3>12. Kontaktmöglichkeiten per E-Mail</h3>
            <p>Auf unserer Webseite steht ihnen eine Kontaktmöglichkeit per E-Mail zur Verfügung.</p>

            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Sie können sich an uns per E-Mail wenden. Unsere Datenerhebung beschränkt sich dabei auf die
                E-Mail-Adresse des von Ihnen zur Kontaktaufnahme verwendeten E-Mail-Accounts sowie auf die von Ihnen im
                Rahmen der Kontaktaufnahme beliebig zur Verfügung gestellten personenbezogenen Daten.
            </p>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Zweck der Datenverarbeitung ist die Möglichkeit ihr Anliegen sachgerecht beantworten zu können. Die
                Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. f) DS-GVO. Es besteht ein berechtigtes Interesse an der
                Verarbeitung der oben genannten personenbezogenen Daten, um Ihr Anliegen sachgerecht bearbeiten zu
                können.
            </p>
            <p><i>c) Speicherdauer</i></p>
            <p>Die Dauer der Speicherung der oben genannten Daten ist abhängig vom Hintergrund Ihrer Kontaktaufnahme.
                Eine Löschung Ihrer personenbezogenen Daten erfolgt regelmäßig, sofern der verfolgte Zweck der
                Kommunikation entfallen und eine Speicherung nicht mehr erforderlich ist. Dies kann sich beispielsweise
                aus einer Bearbeitung ihres Anliegens ergeben.
            </p>


            <h3>13. Newsletter</h3>
            <p><i>a) Art und Umfang der Datenverarbeitung</i></p>
            <p>Auf unserer Webseite besteht die Möglichkeit, einen kostenfreien regelmäßigen E-Mail Newsletter zu
                abonnieren Um Ihnen regelmäßig den Newsletter zusenden zu können, benötigen wir von Ihnen ihre
                E-Mail-Adresse.
            </p>
            <p>Für den Newsletterversand verwenden wir das sog. Double Opt-In-Verfahren.</p>
            <p>Dies bedeutet, dass wir Ihnen erst dann einen E-Mail Newsletter zuschicken werden, wenn Sie uns
                ausdrücklich bestätigt haben, dass Sie in den Versand des Newsletters einwilligen. Wir schicken Ihnen
                dann eine Bestätigungs-E-Mail, mit der Sie gebeten werden durch Anklicken eines entsprechenden Links zu
                bestätigen, dass Sie künftig Newsletter von uns erhalten wollen.
            </p>
            <p>Dies dient der Sicherstellung, dass nur Sie selbst sich als Inhaber der angegebenen E-Mail-Adresse zum
                Newsletter anmelden können. Ihre Bestätigung muss zeitnah nach Erhalt der Bestätigungs-E-Mail erfolgen,
                da andernfalls Ihre Newsletter-Anmeldung automatisch aus unserer Datenbank gelöscht wird.
            </p>
            <p>Wenn Sie den Newsletter abonnieren, erheben und speichern wir die Daten, die Sie in die Eingabemaske
                eingeben (z.B. Nachname, Vorname, E-Mail-Adresse).
            </p>
            <p>Bei der Anmeldung zum Newsletter speichern wir zudem Ihre vom Internet Service-Provider (ISP)
                eingetragene IP-Adresse sowie das Datum und die Uhrzeit der Anmeldung, um einen möglichen Missbrauch
                Ihrer E-Mail- Adresse zu einem späteren Zeitpunkt nachvollziehen zu können. Bei der zu Kontrollzwecken
                ausgesandten Bestätigungsmail (Double-Opt in der
            </p>
            <p>E-Mail speichern wir ebenfalls Datum und die Uhrzeit des Klicks auf den Bestätigungslink und die vom
                Internet Service-Provider (ISP) eingetragene IP-Adresse.
            </p>

            <p><i>b) Zweck und Rechtsgrundlage</i></p>
            <p>Die von uns bei der Anmeldung zum Newsletter erhobenen Daten werden ausschließlich für Zwecke der
                werblichen Ansprache im Wege des Newsletters benutzt.
            </p>
            <p>Die Verarbeitung Ihrer E-Mail-Adresse für den Newsletterversand beruht nach Art. 6 Abs. 1 lit. a) DS-GVO
                und § 7 Abs. 2 Nr. 3 UWG auf der von Ihnen im Folgenden freiwillig abgegebenen und jederzeit für die
                Zukunft widerrufbaren Einwilligungserklärung.
            </p>
            <p>Zudem beruht die Verarbeitung Art. 6 Abs. 1 lit f) DS-GVO aufgrund berechtigter Interessen von uns den
                Nachweis der erforderlichen Einwilligung zu dokumentieren.
            </p>

            <p><i>c) Speicherdauer</i></p>
            <p>Ihre E-Mail-Adresse wird solange gespeichert, wie Sie den Newsletter abonniert haben. Nach einer
                Abmeldung vom Newsletterversand wird Ihre E-Mail-Adresse gelöscht, soweit Sie nicht ausdrücklich in eine
                weitere Nutzung Ihrer Daten eingewilligt haben.
            </p>


            <h3>14. Tracking- und Analysetools</h3>

            <p>Eine exakte Übersicht zu den von uns verwendeten Web Analyse- und Social Media Tools finden Sie hier.</p>
            <p>Social Plug-ins</p>
            <p>Wir setzen derzeit folgende Social-Media-Plug-ins ein: Facebook, Google+, Twitter, Xing, LinkedIn. Dabei
                werden mit Hilfe eines Buttons personenbezogene Daten an den jeweiligen Plug-in-Anbieter übermittelt und
                dort gespeichert.
            </p>
            <p>Der jeweilige Plug-in-Anbieter speichert die über Sie erhobenen Daten als Nutzungsprofile und nutzt diese
                für Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche
                Auswertung erfolgt insbesondere (auch für nicht eingeloggte Nutzer) zur Darstellung von bedarfsgerechter
                Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf einigen unserer Websites
                zu informieren. Ihnen steht ein Widerspruchsrecht gegen die Bildung dieser Nutzerprofile zu, wobei Sie
                sich zur Ausübung dessen an den jeweiligen Plug-in-Anbieter wenden müssen. Über die Plug-ins bietet wir
                Ihnen die Möglichkeit, mit den sozialen Netzwerken und anderen Nutzern zu interagieren, so dass wir
                unser Angebot verbessern und für Sie als Nutzer interessanter ausgestalten können. Rechtsgrundlage für
                die Nutzung der Plug-ins ist Art. 6 Abs. 1 lit. f DS-GVO.
            </p>
            <p>Die Datenweitergabe erfolgt unabhängig davon, ob Sie ein Konto bei dem Plug-in-Anbieter besitzen und dort
                eingeloggt sind. Wenn Sie bei dem Plug-in-Anbieter eingeloggt sind, werden Ihre bei uns erhobenen Daten
                direkt Ihrem beim Plug-in-Anbieter bestehenden Konto zugeordnet. Bei US-amerikanischen Anbietern findet
                eine Übermittlung in den USA statt; diese haben sich dem EU-US-Privacy-Shield unterworfen:
            </p>
            <p class="red_background"><a href="http://www.privacyshield.gov/EU-US-Framework">www.privacyshield.gov/EU-US-Framework</a>
            </p>
            <p>Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch den
                Plug-in-Anbieter erhalten Sie in den im Folgenden mitgeteilten Datenschutzerklärungen dieser Anbieter.
                Dort erhalten Sie auch weitere Informationen zu Ihren diesbezüglichen Rechten und
                Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre:
            </p>
            <ul>
                <li>Facebook Inc., 1601 S California Ave, Palo Alto, California 94304, USA<br>
                    <a href="http://www.facebook.com/policy.php">www.facebook.com/policy.php</a>
                </li>
                <li>Google Inc., 1600 Amphitheatre Parkway, Mountain View, California 94043, USA<br>
                    <a href="http://www.google.com/policies/privacy/partners/?hl=de">www.google.com/policies/privacy/partners/?hl=de</a>
                </li>
                <li>Twitter, Inc., 1355 Market St, Suite 900, San Francisco, California 94103, USA<br>
                    <a href="http://twitter.com/privacy">twitter.com/privacy</a>
                </li>
                <li>Xing AG, Gänsemarkt 43, 20354 Hamburg, DE<br>
                    <a href="http://www.xing.com/privacy">www.xing.com/privacy</a>
                </li>
                <li>LinkedIn Corporation, 2029 Stierlin Court, Mountain View, California 94043, USA<br>
                    <a href="http://linkedin.com/legal/privacy-policy">linkedin.com/legal/privacy-policy</a>
                </li>
            </ul>


            <h3>Facebook</h3>

            <p>Wir setzen den “Conversion-Pixel“ bzw. Besucheraktions-Pixel der Facebook Inc., 1601 S. California Ave,
                Palo Alto, CA 94304, USA (“Facebook”) ein. Durch den Aufruf dieses Pixels aus Ihrem Browser kann
                Facebook in der Folge erkennen, ob eine Facebook-Werbeanzeige erfolgreich war, also z.B. zu einem
                Online-Kaufabschluss geführt hat. Wir erhalten von Facebook hierzu ausschließlich statistische Daten
                ohne Bezug zu einer konkreten Person. So können wir die Wirksamkeit der Facebook-Werbeanzeigen für
                statistische und Marktforschungszwecke erfassen. Insbesondere für den Fall, dass Sie bei Facebook
                angemeldet sind, verweisen wir im Übrigen auf deren Datenschutzinformationen unter
                <a href="http://www.facebook.com/about/privacy/">www.facebook.com/about/privacy/</a>. Bitte gehen Sie
                auf <a href="http://www.facebook.com/settings?tab=ads">www.facebook.com/settings?tab=ads</a>, wenn Sie
                Ihre Einwilligung zum Conversion Pixel widerrufen möchten.
            </p>

            <h3>Google Analytics</h3>
            <p>Einige unserer Websites verwenden Google Analytics, um deren d Nutzung analysieren und verbessern zu
                können.</p>
            <p>Google Analytics ist ein Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog.
                „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der
                Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser
                Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im
                Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch
                innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über
                den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen
                Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird
                Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
                Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
                verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Rechtsgrundlage für die
                Verarbeitung von Daten mit Hilfe von Google Analytics ist Art. 6 Abs. 1 lit. f DS-GVO. Die im Rahmen von
                Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google
                zusammengeführt.
            </p>
            <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software
                verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung
                der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse)
                an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden
                Link verfügbare Browser-Plugin herunterladen und installieren:
            </p>
            <p><a href="http://tools.google.com/dlpage/gaoptout?hl=de">tools.google.com/dlpage/gaoptout?hl=de</a>
            </p>
            <p>Wir verwenden Google Analytics mit der Erweiterung „_anonymizeIp()“. Damit werden die IP-Adressen gekürzt
                (sog. IP-Masking). Ein Bezug zu bestimmten Personen kann damit ausgeschlossen werden. Google nimmt an
                dem EU-US Privacy Shield teil, <a href="http://www.privacyshield.gov/EU-US-Framework">www.privacyshield.gov/EU-US-Framework</a>.
                Damit besteht auch in den
                Ausnahmefällen, in denen Google personenbezogene Daten in die USA überträgt, ein angemessenes
                Datenschutzniveau.
            </p>

            <p>Informationen über Google: Google Dublin, Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4,
                Ireland, Fax: <a href="tel:+35314361001">+353 (1) 436 1001</a>
            </p>
            <p>Nähere Informationen zu den Nutzungsbedingungen von Google:<br>
                <a href="http://www.google.com/analytics/terms/de.html">www.google.com/analytics/terms/de.html</a>
            </p>
            <p>Nähere Informationen zum Datenschutz von Google:<br>
                <a href="http://www.google.com/intl/de/analytics/privacyoverview.html">www.google.com/intl/de/analytics/privacyoverview.html</a>
            </p>

            <h3>Google Fonts</h3>
            <p>Wir verwenden auf manchen unserer Websites Google Fonts. Dadurch können wir bestimmte Schriftarten in
                unsere Website integrieren. Diese Schriftarten werden von Google über Server in den USA bereitgestellt.
                Beim Aufruf unserer Website baut der Webbrowser des Besuchers eine direkte Verbindung zu diesen Servern
                auf. Dabei wird unter anderem die IP-Adresse des Besuchers an Google übermittelt und dort gespeichert.
                Google nimmt an dem EU-US Privacy Shield teil: <a href="http://www.privacyshield.gov/EU-US-Framework">www.privacyshield.gov/EU-US-Framework</a>
            </p>
            <p>Weitere Informationen über Google: Google Inc., 1600 Amphitheatre Parkway, Mountain View, California
                94043, USA
            </p>

            <p>Weitere Informationen zum Datenschutz bei Google:<br>
                <a href="http://www.google.com/policies/privacy/">www.google.com/policies/privacy/</a>
            </p>


            <h3>Google Maps</h3>
            <p>Wir nutzen auf manchen unserer Websites das Angebot von Google Maps. Dadurch können wir Ihnen interaktive
                Karten direkt auf unserer Website anzeigen und ermöglichen Ihnen die komfortable Nutzung der
                Karten-Funktion. Durch die Nutzung von Google Maps werden Daten an Google in die USA übermittelt, u.a.
                Ihre IP-Adresse.
            </p>
            <p>Sie können die Übermittlung der Daten an Google verhindern, indem Sie in Ihren Browsereinstellungen
                JavaScript deaktivieren. In diesem Fall können Sie Google Maps auf unserer Website jedoch nicht nutzen.
            </p>
            <p>Rechtsgrundlage für die Verarbeitung Ihrer Daten ist Art. 6 Abs. 1 lit. f DS-GVO. Google nimmt an dem
                EU-US Privacy Shield teil: <a href="http://www.privacyshield.gov/EU-US-Framework">www.privacyshield.gov/EU-US-Framework</a>
            </p>
            <p>Informationen über Google:</p>
            <p>Google Inc., 1600 Amphitheatre Parkway, Mountain View, California 94043, USA</p>

            <p>Nähere Informationen zu den Nutzungsbedingungen von Google:<br>
                <a href="http://www.google.com/analytics/terms/de.html">www.google.com/analytics/terms/de.html</a>
            </p>

            <p>Nähere Informationen zum Datenschutz von Google:<br>
                <a href="http://www.google.com/intl/de/analytics/privacyoverview.html">www.google.com/intl/de/analytics/privacyoverview.html</a>
            </p>

            <p>Nähere Informationen zu den Nutzungsbedingungen von Google Maps:<br>
                <a href="http://www.google.com/intl/de_US/help/terms_maps.html">www.google.com/intl/de_US/help/terms_maps.html</a>
            </p>


            <h3>Google reCAPTCHA</h3>
            <p>Um eine ausreichende Datensicherheit bei der Übermittlung von Formularen zu gewährleisten, verwenden wir
                in bestimmten Fällen den Service reCAPTCHA, einen Dienst des Unternehmens Google LLC, 1600 Amphitheater
                Parkway, Mountainview, California 94043, USA.
            </p>
            <p>Dadurch können wir unterscheiden, ob die Eingabe durch einen Menschen erfolgt oder missbräuchlich durch
                automatisierte Computerprogramme (Bots). Durch den Einsatz von reCAPTCHA werden die IP-Adresse des
                Nutzers und ggf. weitere von Google für den Dienst reCAPTCHA benötigte Daten an Google übermittelt.
                Hierfür gelten die Datenschutzbestimmungen von Google LLC.
            </p>
            <p>Rechtsgrundlage für den Einsatz von reCAPTCHA ist Art. 6 Abs. 1 lit. f DS-GVO. Die Überprüfung von
                Formulareingaben darauf, ob sie von einem Menschen erstellt wurden, stellt ein berechtigtes Interesse
                des Webseitenbetreibers dar.
            </p>
            <p>Google nimmt am EU-US-Datenschutzschild teil, <a href="http://www.privacyshield.gov/EU-US-Framework">www.privacyshield.gov/EU-US-Framework</a>.
                Hierdurch wird Google verpflichtet, auch bei Übermittlungen in die USA ein Datenschutzniveau
                einzuhalten, welches dem europäischen vergleichbar ist. Damit wird auch in den Ausnahmefällen, in denen
                Google personenbezogene Daten in die USA überträgt, ein angemessener Datenschutzstandard beachtet.
            </p>
            <p>Europäische Kontaktdaten von Google:</p>
            <p>
                Google Dublin, Google Ireland Ltd.<br>
                Gordon House, 4 Barrow Street<br>
                Dublin D04 E5W5<br>
                Irland<br>
                Telefon: <a href="tel:+35315431004">353 1 543 1004</a>
            </p>
            <p>Weitere Informationen zu den Datenschutzrichtlinien von Google LLC. finden Sie unter
                <a href="http://www.google.de/intl/de/privacy">www.google.de/intl/de/privacy</a> oder
                <a href="http://www.google.com/intl/de/policies/privacy/">www.google.com/intl/de/policies/privacy/</a>
            </p>


            <h3>Google Tag Manager</h3>

            <p>Google Tag Manager ist eine Lösung, mit der Vermarkter Website-Tags über eine Oberfläche verwalten
                können. Das Tool Tag Manager selbst (das die Tags implementiert) ist eine cookielose Domain und erfasst
                keine personenbezogenen Daten. Das Tool sorgt für die Auslösung anderer Tags, die ihrerseits unter
                Umständen Daten erfassen. Google Tag Manager greift nicht auf diese Daten zu. Wenn auf Domain-oder
                Cookie-Ebene eine Deaktivierung vorgenommen wurde, bleibt diese für alle Tracking-Tags bestehen, die mit
                Google Tag Manager implementiert werden. <a href="http://www.google.de/tagmanager/use-policy.html">www.google.de/tagmanager/use-policy.html</a>
            </p>

            <h3>Plista</h3>
            <p>Wir verwenden auf einigen unserer Websites Marketing-Technologien von Plista. Dabei werden Daten zu
                Marketing-, Marktforschungs- und Optimierungszwecken gesammelt und gespeichert. Rechtsgrundlage für die
                Verarbeitung der Daten ist Art. 6 Abs. 1 lit. f DS-GVO.
            </p>
            <p>Zu den eingesetzten Technologien können unter anderem das Conversion-Tracking und die
                Retargeting-Technologie gehören. Dabei werden unsere Website-Besucher auf Websites unserer Partner
                gezielt mit Werbung angesprochen, wenn sie sich bereits für unsere Webseite und unsere Produkte
                interessiert haben. Die Einblendung der Werbemittel erfolgt beim Retargeting auf der Basis einer
                Cookie-basierten Analyse des vorherigen Nutzerverhaltens.
            </p>
            <p>Der Drittanbieter speichert Daten unter Pseudonym als Nutzungsprofile. Hierzu werden sog. Trackingscripte
                bzw. Cookies eingesetzt, die zur Erhebung von Daten dienen. Die mit dieser Technologien erhobenen Daten
                werden ohne die gesondert erteilte Zustimmung des Betroffenen nicht dazu benutzt, die Besucher dieser
                Website persönlich zu identifizieren und nicht mit personenbezogenen Daten über den Träger des
                Pseudonyms zusammengeführt.
            </p>
            <p>Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile. Wenn Sie nicht an diesem
                Verfahren teilnehmen möchten, können Sie der Datenerhebung und -speicherung jederzeit durch Setzen eines
                Opt-out-Cookies mit Wirkung für die Zukunft widersprechen. Weitere Informationen dazu:
            </p>
            <p><a href="http://www.plista.com/about/opt-out/">www.plista.com/about/opt-out/</a></p>
            <p>Alternativ können Sie Ihren Browser so einstellen, dass er das Setzen von Cookies verhindert. Löschen Sie
                die Cookies in Ihrem Browser, werden auch Opt-Out-Cookies gelöscht. Sie müssen diese dann erneut
                setzen.
            </p>
            <p>Weitere Informationen zum Drittanbieter: plista GmbH Torstraße 33, 10119 Berlin</p>
            <p>Weitere Informationen zum Datenschutz bei Plista:<br>
                <a href="http://www.plista.com/about/privacy/">www.plista.com/about/privacy/</a>
            </p>

            <h3>Vimeo-Videos</h3>
            <p>Wir haben Vimeo-Videos in unser Online-Angebot eingebunden, die auf <a
                    href="www.vimeo.com">www.vimeo.com</a> gespeichert sind und von manchen unserer Websites aus direkt
                abspielbar sind.
            </p>
            <p>Durch den Besuch auf der Website erhält Vimeo die Information, dass Sie die entsprechende Unterseite
                unserer entsprechenden Website aufgerufen haben. Zudem werden Log-Dateien übermittelt. Dies erfolgt
                unabhängig davon, ob Vimeo ein Nutzerkonto bereitstellt, über das Sie eingeloggt sind, oder ob kein
                Nutzerkonto besteht. Wenn Sie bei Vimeo eingeloggt sind, werden Ihre Daten direkt Ihrem Konto
                zugeordnet. Wenn Sie die Zuordnung mit Ihrem Profil bei Vimeo nicht wünschen, müssen Sie sich vor
                Aktivierung des Buttons ausloggen. Vimeo speichert Ihre Daten als Nutzungsprofile und nutzt sie für
                Zwecke der Werbung, Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website. Eine solche
                Auswertung erfolgt insbesondere (selbst für nicht eingeloggte Nutzer) zur Erbringung von
                bedarfsgerechter Werbung und um andere Nutzer des sozialen Netzwerks über Ihre Aktivitäten auf unserer
                Website zu informieren. Ihnen steht ein Widerspruchsrecht zu gegen die Bildung dieser Nutzerprofile zu,
                wobei Sie sich zur Ausübung dessen an Vimeo richten müssen.
            </p>
            <p>Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch Vimeo erhalten
                Sie in der Datenschutzerklärung. Dort erhalten Sie auch weitere Informationen zu Ihren Rechten und
                Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre:
                <a href="http://vimeo.com/privacy">vimeo.com/privacy</a>.
                Vimeo verarbeitet Ihre personenbezogenen Daten auch in den USA.</p>
            <p>Weitere Informationen zu Vimeo: Vimeo LCC, 555 West 18th Street, New York, New York 10011, USA</p>

            <h3>15. Datensicherheit und Sicherungsmaßnahmen</h3>
            <p>Wir verpflichten uns, Ihre Privatsphäre zu schützen und Ihre personenbezogenen Daten vertraulich zu
                behandeln. Dazu treffen wir umfangreiche technische und organisatorische Sicherheitsvorkehrungen, welche
                regelmäßig überprüft und dem technologischen Fortschritt angepasst werden.</p>
            <p>Hierzu gehört unter anderem die Verwendung anerkannter Verschlüsselungsverfahren (SSL oder TLS).
                Unverschlüsselt preisgegebene Daten, beispielsweise wenn dies per unverschlüsselter E-Mail erfolgt,
                können aber eventuell von Dritten mitgelesen werden. Darauf haben wir keinen Einfluss. Es liegt im
                Verantwortungsbereich des jeweiligen Nutzers, die von ihm zur Verfügung gestellten Daten durch
                Verschlüsselung oder in sonstiger Weise gegen Missbrauch zu schützen.</p>

            <h3>16. Änderungen der Datenschutzerklärung </h3>
            <p>Wir behalten uns jederzeit das Recht vor, diese Erklärung bei Bedarf entsprechend zu aktualisieren.</p>

            <h3>17. Ihre Rechte</h3>
            <p>Hier finden Sie Ihre Rechte in Bezug auf Ihre personenbezogenen Daten. Einzelheiten dazu ergeben sich aus
                den Artikeln 7, 15-22 und 77 DS-GVO. Sie können sich diesbezüglich an die verantwortliche Stelle
                (Ziff.2).
            </p>
            <p>Recht auf Widerruf Ihrer datenschutzrechtlichen Einwilligung nach Art. 7 Abs. 3 S. 1 DS-GVO</p>
            <p>Sie können eine Einwilligung in die Verarbeitung Ihrer personenbezogenen Daten jederzeit mit Wirkung für
                die Zukunft widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Verarbeitung wird davon jedoch
                nicht berührt.
            </p>

            <p><i>a) Auskunftsrecht nach Art. 15 DS-GVO</i></p>
            <p>Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob wir personenbezogene Daten verarbeiten,
                die Sie betreffen. Ist dies der Fall, so haben Sie das Recht auf Auskunft über diese personenbezogenen
                Daten sowie auf weitere Informationen, z.B. die Verarbeitungszwecke, die Kategorien verarbeiteter
                personenbezogener Daten, die Empfänger und die geplante Dauer der Speicherung bzw. die Kriterien für die
                Festlegung der Dauer.
            </p>

            <p><i>b) Recht auf Berichtigung und Vervollständigung nach Art. 16 DS-GVO</i></p>
            <p>Sie haben das Recht, unverzüglich die Berichtigung unrichtiger Daten zu verlangen. Unter Berücksichtigung
                der Zwecke der Verarbeitung haben Sie das Recht, die Vervollständigung unvollständiger Daten zu
                verlangen.
            </p>

            <p><i>c) Recht auf Löschung („Recht auf Vergessenwerden“) nach Art. 17 DS-GVO</i></p>
            <p>Sie haben ein Recht zur Löschung, soweit die Verarbeitung nicht erforderlich ist.<br>
                Dies ist beispielsweise der Fall, wenn Ihre Daten für die ursprünglichen Zwecke nicht mehr notwendig
                sind, Sie Ihre datenschutzrechtliche Einwilligungserklärung widerrufen haben oder die Daten unrechtmäßig
                verarbeitet wurden.
            </p>

            <p><i>d) Recht auf Einschränkung der Verarbeitung nach Art. 18 DS-GVO</i></p>
            <p>Sie haben ein Recht auf Einschränkung der Verarbeitung, z.B. wenn Sie der Meinung sind, die
                personenbezogenen Daten seien unrichtig.
            </p>
            <p><i>e) Recht auf Datenübertragbarkeit nach Art. 20 DS-GVO</i></p>
            <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten in einem strukturierten, gängigen und
                maschinenlesbaren Format zu erhalten.
            </p>

            <p><i>f) Widerspruchsrecht nach Art. 21 DS-GVO</i></p>
            <p>Sie haben das Recht, jederzeit aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die
                Verarbeitung bestimmter Sie betreffender personenbezogener Daten Widerspruch einzulegen.
            </p>
            <p>Im Falle von Direktwerbung haben Sie als betroffene Person das Recht, jederzeit Widerspruch gegen die
                Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies
                gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
            </p>

            <p><i>g) Automatisierte Entscheidung im Einzelfall einschließlich Profiling nach Art. 22 DS-GVO</i></p>
            <p>Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich
                Profiling – beruhenden Entscheidung unterworfen zu werden, außer in den in Art. 22 DS-GVO erwähnten
                Ausnahmetatbeständen.
            </p>
            <p>Eine ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhende
                Entscheidungsfindung findet nicht statt.
            </p>

            <p><i>h) Beschwerde bei einer Datenschutzaufsichtsbehörde nach Art. 77 DS-GVO</i></p>
            <p>Außerdem können Sie jederzeit Beschwerde bei einer Datenschutzaufsichtsbehörde einlegen, beispielsweise
                wenn Sie der Meinung sind, dass die Datenverarbeitung nicht im Einklang mit datenschutzrechtlichen
                Vorschriften steht.
            </p>

        </div>

        <div class="red_line_separator"></div>
        <div class="footer_links">
            <p>
                <a (click)="impressum()">Impressum </a>
                <a (click)="datenschutzerklarung()">Datenschutzerklärung</a>
            </p>
        </div>
    </div>
</ion-content>
