<ion-grid>
  <ion-row>
    <ion-col size="12" class="list_div">
      <ion-list-header class="serie-header" >Top 10</ion-list-header>
    </ion-col>
    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTop10,slideWithNavTop10)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderTop10.isBeginningSlide"></div>
        </span>
    </ion-col>-->
    <ion-col size="12"  [class]="platformType">

      <ion-slides pager="false" [options]="slideOptsTop10" #slideWithNavTop10 (ionSlideDidChange)="SlideDidChange(sliderTop10,slideWithNavTop10)">
        <ion-slide *ngFor="let slide of slides; let i = index">
          <div>
            <div class="slide-number">{{i+1}}</div>
            <div class="slide-image">
              <div class="top_10">
                <ion-label class="top_lbl">TOP</ion-label>
                <ion-label class="ten_lbl">10</ion-label>
              </div>
              <img (click)="goToSlide(slide.slug)" src="{{(!slide.thumbnail || slide.thumbnail==false) ? defaultImg : slide.thumbnail}}"><!--defaultImg-->
              <div class="info">
                <ion-icon class="icon-information" ios="information-circle-outline" md="information-circle" (click)="openInfoModal(slide)" start></ion-icon>
                <ion-icon class="icon-ellipsis" ios="ellipsis-vertical-sharp" md="ellipsis-vertical" (click)="openMore(slide)" end></ion-icon>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>

    </ion-col>
    <!--
    <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderTop10,slideWithNavTop10)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderTop10.isEndSlide"></div>
        </span>
    </ion-col>-->
  </ion-row>
</ion-grid>