.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
 // background: url(./img/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
 // background: url(./img/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
    height: 100%;
  }
}
.swiper-slide {
  width: 46% !important;
}
.ios {
  .swiper-slide {
    width: 44% !important;
  }
  .slide-number {
    left: 2px;
  }
  .slide-image {
    width: 84%;
    background-color: #575970;
    border-radius: 0px 0 6px 6px;
  }

  .info {
    background-color: #575970;
    border-radius: 0px 0 6px 6px;
    height: 21px;
    position: relative;
    ion-icon {
      width: 50% !important;
      padding-top: 0px;
      padding-bottom: 5px;
      margin-bottom: -4px;
      background-color: #575970;
    }

    ion-icon.icon-information {
      border-radius: 0 0 0 10px;
    }

    ion-icon.icon-ellipsis {
      border-radius: 0 0 10px 0;
    }
  }
}

ion-list-header.serie-header {
  padding: 0;
  font-weight: 700;
  border-bottom: 1px solid white;
  height: 20px;
}

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}
.list_div, ion-grid{
  padding-top: 0px;
}
.slide-number{
  left: 12px;
  color: white;
  height: 100%;
  font-size: calc((78vw - 0.5rem) / 4);
  position: absolute;
  -webkit-text-stroke: 2px white;
  top: auto;
  bottom: 4px;
}
.slide-image {
  width: 82%;
  float: right;
  img {
    -webkit-box-shadow: 9px 0px 7px -1px #33414A;
    box-shadow: 9px 0px 7px -1px #33414A;
  }

  .top_10 {
    height: 26px;
    width: 23px;
    background: var(--ion-color-primary);
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;

    .top_lbl {
      font-size: 10px;
      position: absolute;
      top: 0;
      right: 1px;
    }
    .ten_lbl {
      font-size: 13px;
      position: absolute;
      right: 1px;
      top: 10px;
    }
  }
}

.info {
  background-color: #575970;
  border-radius: 0px 0 6px 6px;
  height: 24px;
  position: relative;
  ion-icon {
    width: 50% !important;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: -4px;
    background-color: #575970;
  }

  ion-icon.icon-information{
    border-radius: 0 0 0 10px;
  }

  ion-icon.icon-ellipsis{
    border-radius: 0 0 10px 0;
  }
}
@media only screen
and (min-device-width: 744px)
and (max-device-width: 1133px) {
  .tablet .list_div ion-slide.swiper-slide, .ios .tablet .swiper-slide, .md .tablet .swiper-slide {
    width: 27% !important;
  }
  .slide-number {
    font-size: calc((53vw - 0.5rem) / 4);
  }
}
// MEDIA QUERIES FOR IPAD MINI – PORTRAIT & LANDSCAPE
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
 .list_div .tablet  ion-slide.swiper-slide, .ios .tablet .swiper-slide,.md .tablet  .swiper-slide {
    width: 29% !important;
  }
  .slide-number {
    font-size: calc((53vw - 0.5rem) / 4);
  }
}
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 2155px)
and (-webkit-min-device-pixel-ratio: 1) {
  .list_div .tablet ion-slide.swiper-slide, .ios .swiper-slide, .tablet .md .tablet .swiper-slide {
    width: 29% !important;
  }
  .slide-number {
    font-size: calc((62vw - 0.5rem) / 4);
  }
}
@media only screen
and (min-device-width : 2160px)
and (max-device-width : 3840px)
and (-webkit-min-device-pixel-ratio: 1) {
  .list_div ion-slide.swiper-slide, .ios .swiper-slide, .md .swiper-slide {
    width: 15% !important;
  }
  .slide-number{
    font-size: calc((34vw - 0.5rem) / 4);
  }
}