ion-spinner{
    left: 50vw;
    top: 50vh;
    z-index: 1000;
    margin-left: -14px;
}

.main_content_div{
    width: 100%;

    .video_div{
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 2px solid white;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        ion-icon{
            font-size: 30px;
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
        }
    }

    ion-progress-bar{
        position: absolute;
        bottom: 0;
    }

    ion-label {
        display: block;
    }
    .back_image2{
        width: 100%;
        height: 75vw;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;

        .back{
            font-size: 28px;
            padding-top: 25px;
            padding-left: 16px;
        }

    }

    .content_div{
        padding: 10px;
        .head_lbl{
            font-weight: 600;
            font-size: 18px;
        }

        .time_lbl{
            margin-top: 10px;
        }
        .match_lbl{
            color: var(--ion-color-success);
            font-weight: bold;
            padding-right: 15px;
        }
        .about{
            color: gray;
            padding-right: 10px;
            font-size: 12px;
        }
        .desc_lbl{
            margin-top: 10px;
            font-size: 13px;
        }

        ion-col{
            text-align: center;

            ion-icon{
                font-size: 20px;
            }
            ion-label {
                font-size: 13px;
                margin-top: 7px;
            }
        }


    }

    .list_div{
        margin-top: 3px;
        background: #3c4c56;
        .segment_div{
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            height: 50px;
            background: #20282d;
            .lbl_div{
                height: 50px;
                display: flex;
                align-items: center;
                margin-right: 20px;
                padding: 0 10px;
            }
            ion-label {
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
            }
            .active{
                border-top: 3px solid #CA1B20;
                background-color: #3c4c56;
            }

        }

        .segment_detail{
            padding-left: 10px;
            padding-right: 10px;

            .header{
                font-weight: bold;
                margin-bottom: 15px;
            }
            .list_div2{
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid rgba(255,255,255,0.15);

                .flex_div{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 3px;

                    .back_image{
                        height: 100px;
                        width: 150px;
                        min-width: 150px;
                    }
                    .content_div{
                        padding-left: 15px;
                        display: flex;
                        flex-direction: column;
                        margin-right: 15px;
                        position: relative;

                        .title{
                            font-weight: 600;
                            font-size: 15px;
                        }
                        .about{
                            color: gray;
                            font-size: 13px;
                            margin-top: 5px;
                        }
                    }
                    ion-icon{
                        position: absolute;
                        font-size: 22px;
                        right: 0;
                    }
                    ion-icon.checkmark_circle{
                        color: green;
                        background-color: white;
                        border-radius: 11px;
                    }
                }
                .detail{
                    font-size: 13px;
                    width: 95%;
                }
                .detail2{
                    font-size: 14px;
                    margin-top: 5px;
                }

                .back_image{
                    width: 100%;
                    height: 180px;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    position: relative;
                }
            }

            ion-grid {
                padding: 0;
            }
            .grid_image{
                height: 140px;
                width: 100%;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }
            .comment_div{
                position: relative;
                .rate-right{
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    border: 2px solid;
                    display: block;
                    width: 34px;
                    height: 34px;
                    border-radius: 17px;
                    text-align: center;
                    line-height: 32px;
                }
                .comment-child {
                    padding-left: 20px;
                }
            }
            form{
                ion-item{
                    --background : #383838;
                    border-radius: 7px;
                    margin-top: 15px;

                    ion-input{
                        --padding-start: 8px;
                    }
            }
            }
        }


    }
    .send-btn{
        border-color: #ffffff;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .text-red{
        color: #ca1b20;
    }
}
