<ion-content>
  <ion-spinner *ngIf="!video"></ion-spinner>
  <div *ngIf="video" class="main_content_div">

    <div class="back_image2" [style.background]="'url('+video.header_image.trim()+')'">
      <ion-icon class="back" name="arrow-back" (click)="goBack()"></ion-icon>
      <div *ngIf="video.video_embed_trailer||video.aws_trailer" class="video_div" (click)="onPlay(video, video.aws_trailer)">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="content_div">
      <ion-label class="head_lbl" [innerHTML]="video.title"></ion-label>

    <!--  <ion-label class="time_lbl">-->
       <!-- <span class="match_lbl">93% Match</span>-->
       <!-- <span class="about">{{video.release_date}}</span>
        <span class="about">{{video.duration}}</span>
        <span class="about">{{video.resolution}}</span>-->
     <!-- </ion-label>-->

      <ion-label class="desc_lbl" [innerHtml]="video.content">

      </ion-label>

      <ion-grid fixed>
        <ion-row>
          <ion-col class="text-red" size="3" *ngIf="video.in_watchlist" (click)="removeFromWatchList()">
            <ion-icon name="checkmark-outline"></ion-icon>
            <ion-label>{{transName.watchlist}}</ion-label>
          </ion-col>
          <ion-col size="3" *ngIf="!video.in_watchlist" (click)="addToWatchList()">
            <ion-icon name="add"></ion-icon>
            <ion-label>{{transName.add_watchlist}}</ion-label>
          </ion-col>

          <ion-col class="text-red" size="3" *ngIf="video.is_favorite" (click)="removeFromFavorites()">
            <ion-icon name="heart"></ion-icon>
            <ion-label>{{transName.favorite}}</ion-label>
          </ion-col>
          <ion-col size="3"  *ngIf="!video.is_favorite" (click)="addToFavorites()">
            <ion-icon name="thumbs-up-sharp"></ion-icon>
            <ion-label>{{transName.add_favorite}}</ion-label>
          </ion-col>

          <!--<ion-col size="3" (click)="openShareModal()">
            <ion-icon name="share-social"></ion-icon>
            <ion-label>Share</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-icon name="arrow-down"></ion-icon>
            <ion-label>Download</ion-label>
          </ion-col>-->
        </ion-row>
      </ion-grid>
    </div>

    <div class="list_div">
      <div class="segment_div ion-margin-bottom">
        <div class="lbl_div" [class.active]="segId == 1">
          <ion-label (click)="changeSegment(1)">{{transName.episodes}}</ion-label>
        </div>

       <!-- <div class="lbl_div" [class.active]="segId == 2">
          <ion-label (click)="changeSegment(2)">Rezensionen</ion-label>
        </div>

        <div class="lbl_div" [class.active]="segId == 3">
          <ion-label (click)="changeSegment(3)">Rezension schreiben</ion-label>
        </div>-->
      </div>

      <div class="segment_detail" *ngIf="segId == 1">
        <ion-label class="header">{{transName.season_1}}</ion-label>
        <div class="list_div2" *ngFor="let item of video.episodes['season-1']; let i = index">
          <div *ngIf="item.vimeo_video||item.mp4_video" class="flex_div">
            <div class="back_image bg_image" [style.background]="'url('+ item.episode_image.trim() +')'">
              <div class="video_div" (click)="onPlay(item)">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              <ion-icon *ngIf="item.is_watched == true" name="checkmark-circle" class="checkmark_circle"></ion-icon>
              <ion-progress-bar value="{{((item.progress==99)?100:item.progress)/100}}"></ion-progress-bar>
            </div>
            <div class="content_div">
              <ion-label class="title" [innerHTML]="item.episode_title"></ion-label>
              <ion-label class="about">{{item.release_date}}</ion-label>
              <ion-label class="about">{{item.media_duration_meta}}</ion-label>
            </div>
          </div>
          <ion-label class="detail" [innerHtml]="item.description">

          </ion-label>
        </div>
      </div>

      <div class="segment_detail" *ngIf="segId == 2">

        <div class="list_div2 comment_div" *ngFor="let comment of video.comments; let i = index">
          <h2>{{comment.author}}</h2>
          <span class="rate-right"
                [style.color]="comment.color"
                [style.border-color]="comment.color"
          >{{comment.rating}}</span>
          <p>{{comment.content}}</p>
          <div *ngFor="let children of comment.children" class="comment-child">
            <h2>{{children.author}}</h2>
            <p>{{children.content}}</p>
          </div>
        </div>
        <!--<ion-virtual-scroll [items]="video.comments">
          <div *virtualItem="let comment">
            <h2>{{comment.author}}</h2>
            <span class="rate-right"></span>
            <p>{{comment.content}}</p>
          </div>
        </ion-virtual-scroll>-->
      <!-- <div class="list_div2" *ngFor="let item of shows; let i = index">
          <div class="back_image" [style.background]="'url( '+ item.img +' )'">
            <div class="video_div">
              <ion-icon name="caret-forward-outline"></ion-icon>
            </div>
          </div>
          <ion-label class="detail2">
            Season 1 Trailer : The Witcher
          </ion-label>
        </div>-->
      </div>

      <div class="segment_detail" *ngIf="segId == 3">
        <ion-grid fixed>
          <ion-row>
            <form #commentForm="ngForm" class="ion-text-center">
              <ion-item lines="none">
                <ionic5-star-rating #rating2
                                     activeIcon = "star"
                                     defaultIcon = "star-outline"
                                    halfIcon = "star-half"
                                    halfStar = "true"
                                    maxRating = "10"
                                     activeColor = "#D1BF1A"
                                     defaultColor = "#aaaaaa"
                                     readonly = "false"
                                     rating = "0"
                                     fontSize = "24px"
                                     (ratingChanged)="logRatingChange($event)">
              </ionic5-star-rating>

              </ion-item>

              <ion-item lines="none">
                <ion-textarea
                        name = "comment"
                        required
                        auto-grow = "true"
                        rows = "6"
                        [(ngModel)]="comment"
                ></ion-textarea>
              </ion-item>
<!--
              <ion-button [disabled]="!commentForm.valid"  (click)="doComment()" class="send-btn" expand="block" fill="outline">
                Bewertung abgeben
              </ion-button>
              -->
            </form>
          </ion-row>
        </ion-grid>
      </div>


    </div>
  </div>
</ion-content>
