/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-ios ion-toolbar:last-of-type {
  --border-width: 0px;
}
.header-md:after{
  background: none;
}

ion-toolbar{
  --background: transparent;
}

.bg_image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ion-modal.custom_modal {
  .modal-wrapper{
    width: 90% !important;
    border-radius: 15px;
  }
  --height: 60vh;
}

ion-modal.transparent_modal {
  .modal-wrapper{
    background: rgba(0,0,0,0.7);
    // width: 100% !important;
    border-radius: 15px;
  }
}
ion-modal.fullScreen{
  .modal-wrapper{
    background: rgba(0,0,0,0.7);
    width: 100% !important;
    // border-radius: 15px;
  }
}

ion-modal.ios.fullScreen {
  .modal-wrapper.sc-ion-modal-ios {
    height: 100%;
    width: 100%;
    iframe{
      height: 100%;
      width: 100%;
    }
  }
}

.small-modal{
  .modal-wrapper {
    position: absolute;
    bottom: 0;
    min-height: initial;
    top: initial;
    height: 40%;
  }
}


/** Custom scss for Action-Sheet */
.info-action-sheet {
  .action-sheet-title.sc-ion-action-sheet-ios {
    font-size: 20px;
    font-weight: 900;
    color: var(--ion-color-step-850) !important;
  }
  .action-sheet-title.sc-ion-action-sheet-ios,
  .action-sheet-cancel.sc-ion-action-sheet-ios::after {
    background-color: var(--ion-color-step-200) !important;
  }
  .action-sheet-destructive.sc-ion-action-sheet-ios,
  .action-sheet-destructive.ion-activated.sc-ion-action-sheet-ios,
  .action-sheet-destructive.ion-focused.sc-ion-action-sheet-ios,
  .action-sheet-button.sc-ion-action-sheet-ios {
    color: var(--ion-color-primary-contrast) !important;
    background-color: var(--ion-color-step-200) !important;
    span {
      float: left;
      width: auto;
    }
  }
  .action-sheet-group.sc-ion-action-sheet-md:first-child,
  .action-sheet-group.sc-ion-action-sheet-md:last-child {
    margin-left: 10px;
    margin-right: 10px;
  }
  .action-sheet-group.sc-ion-action-sheet-md:first-child,
  .action-sheet-group.sc-ion-action-sheet-ios:first-child {
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
  }
  .action-sheet-group.sc-ion-action-sheet-md:last-child,
  .action-sheet-group.sc-ion-action-sheet-ios:last-child {
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 8px;
  }
}