<ion-content>
  <div class="main_content_div">

    <div class="logo_centered">
      <img src="{{logoImage}}" class="logo_img">
    </div>
    <ion-buttons slot="end" class="search_btn">
      <button ion-button item-right (click)="searchPage()">
        <ion-icon name="search" class="icon ion-ios-search"></ion-icon>
      </button>
    </ion-buttons>

    <div class="bottom_div">

      <div class="big-slides" *ngIf="type=='staffeln'">
        <app-big-slides></app-big-slides>
      </div>
      <div class="slider-top" *ngIf="type=='staffeln'">
        <app-top10-component></app-top10-component>
      </div>

      <div class="slider-season" *ngIf="type=='staffeln'">
        <app-season></app-season>
      </div>

      <div *ngIf="type=='neu'">
        <app-newseason></app-newseason>
      </div>
      <div *ngIf="type=='kommt-bald'">
        <app-newseason></app-newseason>
      </div>

    </div>
  </div>
</ion-content>