.back_image{
  height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.serie-sub-header{
  font-weight: 700;
}

.main_content_div {
  .main_btn_div {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    padding-bottom: 0px;

    position: absolute;
    z-index: 999;

    .logo_img {
      width: 30px;
    }

    ion-button {
      color: white;
      font-weight: 600;
      margin: 0;
      font-size: 14px;
    }

    .genres_btn {
      font-weight: 500;
    }
  }
  .logo_centered {
    margin-top: 20px;
    margin-left: 5px;
    z-index: 999;
    width: 200px;
  }
  .search_btn {
    float: right;
    padding-right: 10px;
    position: absolute;
    right: 0px;
    top: 24px;
    button {
      background-color: transparent;
      ion-icon {
        height: 40px;
        width: 35px;
        color: white;
        svg {
          height: 20px;
          width: auto;
          color: white;
          stroke: white !important;
          color: white;
        }
      }
    }
  }
  .bottom_div {
    padding-bottom: 16px;

    ion-label {
      display: block;
    }

    .top_10 {
      height: 28px;
      width: 25px;
      background: var(--ion-color-primary);
      position: absolute;
      right: 0;
      top: 0;
      font-weight: bold;

      .top_lbl {
        font-size: 10px;
      }
      .ten_lbl {
        font-size: 14px;
      }
    }
  }


  .slider-top ion-grid, .slider-top ion-grid ion-col {
    padding-top: 0px;
  }
}

.big-slides {
  ion-grid{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  ion-grid.md, ion-grid.ios, .md, .ios {

    padding-bottom: 0;
  }
}

ion-tab-button{
  background: #CA1B20;
}

@media screen and (min-width : 768px)  {
  ion-card-title.ion-inherit-color.ios.hydrated {
    font-size: 26px;
  }
}
