<ion-header>
  <div class="header_div">
    <img src="{{logoImage}}" alt="">
  </div>
</ion-header>

<ion-content>
  <div class="container">

    <div class="top-header">
      <h2>Hier ist etwas schief gelaufen ... <br>... du hast keinen Zugriff!</h2>
    </div>

    <div>
      <h2>Nicht angemeldet?</h2>
    </div>
    <div class="red_line_divider"></div>
    <div>
      <p>Warst du evtl. länger nicht auf der Seite oder bist noch nicht anmeldet? Dann kannst du dich hier anmelden, um Zugriff auf deine Lieblingsserien zu bekommen.</p>
    </div>
    <ion-button class="red-button" (click)="goToLogin()">Login!</ion-button>

    <div class="red_line_separator"></div>
    <div class="footer_links">

      <p>
        <a (click)="impressum()">Impressum </a>
        <a (click)="datenschutzerklarung()">Datenschutzerklärung</a>
      </p>

    </div>
  </div>

</ion-content>
