.header_div{
  display: flex;
  align-items: center;
  padding-top: 20px;
  img{
    width: 200px;
  }
}
.container{
  padding: 0 15px;
  .top-header{
    text-align: center;
    padding: 30px;
    margin: 30px 0;
  }
  .footer_links{
    text-align: center;
    padding-bottom: 24px;
    a{
      color: white;
      margin: 15px;
    }
  }
  a.red-button{
    padding: 13px;
    text-decoration: none;
    color: white;
    display: inline-block;
  }
  .red-button{
    background-color: #CA1B20;
    border-radius: 5px;
    margin: 20px 0;
  }
  .red_line_divider{
    width: 50px;
    height: 5px;
    background: #CA1B20;
    margin: 20px 0;
  }
  .red_line_separator{
    border: 1px solid #CA1B20;
    margin: 15px 0;

  }
}
