.header_div{
  display: flex;
  align-items: center;
  padding: 20px;
  img{
    width: 200px;
  }
  .logout {
    float: left;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
ion-spinner{
  left: 50vw;
  top: 50vh;
  z-index: 1000;
  margin-left: -14px;
}
ion-label.avatar-name {
  text-align: center;
  display: block;
  margin-top: -50px;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  color: #e2e1e1f5;
}

.stats{
  margin-bottom: 30px;
  ion-col{
    text-align: center;
    border: 1px solid #e2e2e2;;
    color: #777777;
    font-size: 12px;
    padding: 16px 0px;
    .num-header{
      color: #ca1b20;
      font-size: 26px;
      display: block;
      font-weight: 700;
      padding-bottom: 4px;
    }
  }
}

.tabs_div{
  margin-top: 3px;
  background: #3c4c56;
  width: 100%;
  .segment_div {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    background: #20282d;

    .lbl_div {
      height: 50px;
      display: flex;
      align-items: center;
      margin-right: 20px;
      padding: 0 10px;
    }

    ion-label {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }

    .active {
      border-top: 3px solid var(--ion-color-primary);
      background-color: #3c4c56;
    }
  }

  .list_div {
    padding-left: 16px;
    padding-right: 16px;
    .video-item{
      margin: 20px 0;
      //background: white;
      img{
        width: 100%;
      }
      .cover{
        background: white;
      }
      .title{
        background: white;
        display: none;
        padding: 10px;
        line-height: 30px;
        ion-card-title{
          color: #555;
        }
      }
      .rate{
        float: right;
        display: inline-block;
        color:#42b740;
        font-size: 13px;
        border: 2px solid;
        margin-bottom: 6px;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 17px;
      }
    }

  }

  .comment_div{
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    .rate-right{
      position: absolute;
      right: 10px;
      top: 0px;
      border: 2px solid;
      display: block;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      text-align: center;
      line-height: 32px;
    }
    .comment-child {
      padding-left: 20px;
    }
  }

}
