<ion-spinner *ngIf="!(userData && userVideoData)"></ion-spinner>
<ion-content *ngIf="userData && userVideoData" >
  <div class="header_div">
    <img src="{{logoImage}}" alt="">
    <span class="logout" (click)="logout()">{{transName.logout}}</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="5" size-lg="4">
        <ion-img [src]="userData.avatar_urls['96']"></ion-img>
        <ion-label class="avatar-name">{{userData.name}}</ion-label>
        <ion-row>
          <ion-col>
            <h5 class="ion-text-uppercase">{{transName.overview}}</h5>
          </ion-col>
        </ion-row>
        <ion-row class="stats">
          <ion-col>
            <span class="num-header">{{userVideoData.favoriten_cnt}}</span>
            {{transName.favorite}}
          </ion-col>
          <ion-col>
            <span class="num-header">{{userVideoData.watch_list_cnt}}</span>
            {{transName.watchlist}}
          </ion-col>
          <!--<ion-col>
            <span class="num-header">{{userVideoData.comments_cnt}}</span>
            Bewertungen
          </ion-col>-->
        </ion-row>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="7" size-lg="8">
        <ion-row>
          <div class="tabs_div">
            <div class="segment_div ion-margin-bottom">
              <div class="lbl_div" [class.active]="segId == 1">

                <ion-label (click)="changeSegment(1)">{{transName.favorite}}</ion-label>
              </div>
              <div class="lbl_div" [class.active]="segId == 2">

                <ion-label (click)="changeSegment(2)">{{transName.watchlist}}</ion-label>
              </div>
              <!--<div class="lbl_div" [class.active]="segId == 3">

                <ion-label (click)="changeSegment(3)">Bewertungen</ion-label>
              </div>-->

            </div>

            <div class="segment_detail" *ngIf="segId == 1">
              <ion-row class="list_div">
                <ion-col size-xs="12"size-sm="6" size-md="6" size-lg="4" *ngFor="let video of userVideoData.favoriten">

                  <ion-card class="video-item"  (click)="details(video.slug)" >
                    <img [src]="video.thumbnail" />
                    <ion-card-header class="title">
                      <ion-card-title [innerHTML]="video.title" ></ion-card-title>
                      <!--<span class="rate">{{video.rating}}</span>-->
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>

            </div>
            <div class="segment_detail" *ngIf="segId == 2">
              <ion-row class="list_div">
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let video of userVideoData.wishlist" >
                  <ion-card class="video-item"  (click)="details(video.slug)" >
                    <img [src]="video.thumbnail" />
                    <ion-card-header class="title">
                      <ion-card-title [innerHTML]="video.title"></ion-card-title>
                      <!--<span class="rate">{{video.rating}}</span>-->
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
            </div>
            <div class="segment_detail" *ngIf="segId == 3">
              <div class="list_div2 comment_div" *ngFor="let comment of userVideoData.comments; let i = index">
                <h2>{{comment.author}}</h2>
                <!--
                <span class="rate-right"
                      [style.color]="comment.color"
                      [style.border-color]="comment.color"
                >{{comment.rating}}</span>
                -->
                <p>{{comment.content}}</p>
                <div *ngFor="let children of comment.children" class="comment-child">
                  <h2>{{children.author}}</h2>
                  <p>{{children.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
